{% extends 'base.html.twig' %}

{% block title %}Edit profile{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-7 p-3" style="background-color: #181b20; border-radius: 5px;">
                <h2 class="mb-4 text-center">Edit my profile</h2>

                {# Afișare mesaje flash #}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                {# Formular Bootstrap #}
                {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_label(form.avatar, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.avatar, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.avatar) }}
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    <i class="fas fa-save me-2"></i>Save
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="{{ asset('../assets/js/feed.js') }}"></script>
{% endblock %}
