<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Login - Mentionable{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendors/ti-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendors/jvectormap/jquery-jvectormap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendors/flag-icon-css/css/flag-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendors/owl-carousel-2/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendors/owl-carousel-2/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="shortcut icon" href="{{ asset('assets/images/favicon.png') }}" />

    <script src="{{ asset('assets/vendors/js/vendor.bundle.base.js') }}"></script>

    <script src="{{ asset('assets/vendors/chart.js/chart.umd.js') }}"></script>
    <script src="{{ asset('assets/vendors/progressbar.js/progressbar.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/jvectormap/jquery-jvectormap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script src="{{ asset('assets/vendors/owl-carousel-2/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.cookie.js') }}"></script>

    <script src="{{ asset('assets/js/off-canvas.js') }}"></script>
    <script src="{{ asset('assets/js/misc.js') }}"></script>
    <script src="{{ asset('assets/js/settings.js') }}"></script>
    <script src="{{ asset('assets/js/todolist.js') }}"></script>

    <script src="{{ asset('assets/js/proBanner.js') }}"></script>
    <script src="{{ asset('assets/js/dashboard.js') }}"></script>
</head>
<body>
<div class="container-scroller">
            <div class="content-wrapper container-fluid page-body-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto" style="background-color: rgba(42, 48, 56, 0.75); border: 1px solid rgb(255,255,255);">
                    <div class="card-body px-5 py-5">
                        <div class="d-flex flex-row justify-content-center">
                            <img src="{{ asset('assets/images/logo-mini.png')}}" style="height: 30px; width: 30px" draggable="false" alt="logo" />
                            <h3 class="d-flex justify-content-center card-title text-start ms-2 mb-3" style="user-select: none">Forgot password</h3>
                        </div>
                        <form class="forms-sample" method="post">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}

                            {{ form_start(form) }}
                            <div class="mb-3">
                                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'style': 'border: 1px solid rgb(255,255,255);'}}) }}
                                {{ form_errors(form.email) }}
                            </div>

                            <div class="mb-3">
                                {{ form_label(form.newPassword.first, 'New Password', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control', 'style': 'border: 1px solid rgb(255,255,255);'}}) }}
                                {{ form_errors(form.newPassword.first) }}
                            </div>

                            <div class="mb-3">
                                {{ form_label(form.newPassword.second, 'Confirm new password', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control', 'style': 'border: 1px solid rgb(255,255,255);'}}) }}
                                {{ form_errors(form.newPassword.second) }}
                            </div>
                            <div class="m-0 p-0 d-flex justify-content-center align-items-center">
                                <button type="submit" class="btn btn-light mt-1 btn-responsive">Change password</button>
                            </div>
                            {{ form_end(form) }}
                        </form>
                        <br/>
                        <p class="d-flex justify-content-center mb-0"><a href="{{ path('app_login') }}" class="text-white">Back to login</a></p>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>