<div class="d-flex flex-row mb-3"
     data-comment-id="{{ comment.id }}"
     data-note-id="{{ comment.note.id }}">

    <a class="nav-link me-2" href="{{ path('app_profile', {'id': comment.user.id}) }}">
        <img class="img-xs rounded-circle"
             src="{{ asset('uploads/avatars/' ~ comment.user.avatar) }}"
             alt="avatarComment"
             onerror="showDefaultIcon(this)">
    </a>

    <div class="m-0 p-0">
        <div class="d-flex flex-row" style="height: 30px;">
            <a class="m-0 p-0 text-decoration-none text-white" href="{{ path('app_profile', {'id': comment.user.id}) }}">
                <p class="text-white me-2" style="font-size: 18px;">@{{ comment.user.nametag }}</p>
            </a>
            {% if comment.isEdited %}
                <i class="fa fa-clock-o text-gray me-1" style="margin-top: 6px"></i>
            {% else %}
                <p class="text-gray mt-1 me-2">•</p>
            {% endif %}
            <p class="text-gray mt-1">{{ comment.humanTimeComment }}</p>
        </div>

        <div class="d-inline-flex align-items-center">
            <div class="d-flex flex-column">
                {% if comment.message %}
                    <small class="d-inline-block" style="font-size: 16px; align-self: flex-start; max-width: 300px; color: #404040; background-color: #ffffff; border-radius: 8px; opacity: 0.9; padding: 5px;">
                        {{ comment.message }}
                    </small>
                {% endif %}
                {% if comment.image %}
                    <div class="comment-gif-container mb-1" style="width: 100%; max-width: 200px;">
                        <img src="{{ comment.image }}"
                             alt="GIF"
                             style="width: 100%; height: auto; object-fit: contain; border-radius: 8px; display: block;">
                    </div>
                {% endif %}
            </div>
            {# UPVOTE FORM #}
            <div class="d-flex flex-row ms-2">
                <button class="btn btn-sm ms-2 d-flex align-items-center border-0 comment-upvote-btn
                                                            {% if commentVotesMap is defined and commentVotesMap[comment.id] is defined and commentVotesMap[comment.id] == 'upvote' %}
                                                                    btn-light
                                                            {% else %}
                                                                btn-outline-light
                                                            {% endif %}"
                        type="button"
                        data-note-id="{{ comment.note.id }}"
                        data-comment-id="{{ comment.id }}"
                        data-csrf="{{ csrf_token('vote') }}">
                    <i class='bx bx-arrow-up' style="font-size: 20px;"></i>
                    <span id="comment-upvotes-{{ comment.id }}" class="ms-1">{{ comment.upVote ?? 0 }}</span>
                </button>
                <button class="btn btn-sm d-flex align-items-center border-0"
                        type="button"
                        data-bs-toggle="modal" data-bs-target="#newCommentReplyModal" data-comment-id="{{ comment.id }}"
                        data-comment-message="{{ comment.message }}"
                        data-username="{{ comment.user.nametag }}"
                        data-comment-img="{{ comment.image }}"
                >
                    <i class='bx bx-message-circle-plus' style='color:#ffffff; font-size: 20px;'></i>
                    <span class="ps-2">{{ comment.commentReplies|length }}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="dropdown ms-auto me-1 d-inline-flex justify-content-end">
        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 30px;">
            <i class='bx bx-dots-horizontal-rounded' style='color:#ffffff'></i>
        </a>
        <ul class="dropdown-menu m-0">
            {% if app.user.nametag == comment.user.nametag %}
                <li>
                    <a class="dropdown-item"
                       href="{{ path('note_comment_update', {id: comment.id, noteId: comment.note.id}) }}">
                        Edit...
                    </a>
                </li>
                <li>
                    <a class="dropdown-item delete-comment-btn"
                       href="{{ path('note_comment_delete', {id: comment.id, noteId: comment.note.id}) }}">
                        Delete comment
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="dropdown-item"
                       href="{{ path('note_comment_report', {id: comment.id, noteId: comment.note.id}) }}">
                        Report
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
