{% extends 'base.html.twig' %}

{% block title %}{{ ring.title }} - Rings{% endblock %}

{% block body %}
    <style>
        @media (max-width: 767.98px) {
            .ring-banner-img {
                width: 240px !important;
                height: 240px !important;
            }
        }
        @media (max-width: 400px) {
            .modal-dialog {
                min-width: 320px;
                margin: 0 auto;
            }
        }
    </style>
    <div class="main-panel">
        <div class="content-wrapper p-0">
            <div class="row justify-content-center mb-4">
                {# RING TOP CONTAINER #}
                <div class="row d-flex justify-content-center mb-2" style="background-color: #181b20; border-radius: 5px; margin-top: 2rem;">
                    <div class="col-md-1"></div>
                    <div class="col-12 col-md-9">
                        <div class="avatar-pic d-flex justify-content-center align-items-center">
                            <div class="avatar-indicator position-relative d-inline-block">
                                <img src="{{ asset('uploads/rings/' ~ ring.banner) }}"
                                     alt="Banner"
                                     class="img-thumbnail img-fluid rounded-circle mt-3 ring-banner-img"
                                     style="width: 400px; height: 400px;" />
                            </div>
                        </div>
                        <div class="d-flex flex-row mt-2 mb-3">
                            <div class="mt-2 me-2">
                                <img src="{{ asset('assets/images/media/rings-logo.png') }}" style="width: 50px; height: 50px;" />
                            </div>
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row">
                                    <h1 class="mb-0" style="margin-top: 4px">{{ ring.title }}</h1>
                                    {% if ring.isSuspended == 0 %}
                                        <div class="col-1 d-md-none d-flex ms-auto">
                                            <div class="dropdown top-0 end-0 m-2">
                                                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                                   class="text-white"
                                                   style="right: 10px; text-decoration: none; z-index: 10;">
                                                    <i class="fa fa-ellipsis-h" style="font-size: 25px;"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    {% if app.user == ring.user %}
                                                        <li><a class="dropdown-item" href="{{ path('app_ring_update',{'id': ring.id}) }}">Edit...</a></li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteRingModal-{{ ring.id }}"
                                                               data-note-id="{{ ring.id }}" data-note-token="{{ csrf_token('delete' ~ ring.id) }}">
                                                                Delete ring
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li><a class="dropdown-item" href="#">Report</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <a href="{{ path('app_interest_show', {'id': ring.interest.id}) }}"
                                       class="ms-2 align-self-start text-decoration-none d-md-flex d-none"
                                       style="line-height: 1; padding: 0;">
                                        <span class="bg-light px-2 py-1 text-dark rounded-pill d-md-inline-flex d-none"
                                              style="font-size: 19px; line-height: 1;margin-top: 13px">
                                            #{{ ring.interest.title }}
                                        </span>
                                    </a>
                                </div>
                                <div class="d-flex flex-row text-muted">
                                    <p style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#membersModal-{{ ring.id }}">
                                        {{ members|filter(member => member.ring.id == ring.id)|length }}
                                        {{ members|filter(member => member.ring.id == ring.id)|length == 1 ? 'member' : 'members' }}
                                    </p>
                                    {% set currentUserRole = 'owner' %}

                                    {% for m in members %}
                                        {% if m.user.id == app.user.id and m.ring.id == ring.id %}
                                            {% set currentUserRole = m.role %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if currentUserRole != 'owner' %}
                                        <p class="ms-1 me-1">•</p>
                                        <p>
                                            created by
                                            <a href="{{ path('app_profile', {'id': owner.user.id}) }}"
                                               class="text-muted fw-bold text-decoration-none">
                                                {{ owner.user.nametag }}
                                            </a>
                                        </p>
                                    {% endif %}
                                </div>
                                <!-- Modalul pentru afișarea membrilor ringului -->
                                <div class="modal fade" id="membersModal-{{ ring.id }}" tabindex="-1" aria-labelledby="membersModalLabel-{{ ring.id }}" aria-hidden="true">
                                    <div class="modal-dialog w-100" style="max-width: 700px;">
                                        <div class="modal-content bg-dark text-white">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="membersModalLabel-{{ ring.id }}">Members of {{ ring.title }}</h5>
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" style="max-height: 300px; overflow-y: auto;">
                                                {% set ringMembers = members|filter(member => member.ring.id == ring.id) %}
                                                {% set currentUserIsOwner = false %}
                                                {% for m in ringMembers %}
                                                    {% if m.user.id == app.user.id and m.role == 'owner' %}
                                                        {% set currentUserIsOwner = true %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if ringMembers|length > 0 %}
                                                    <ul class="list-group list-group-flush">
                                                        {% for member in ringMembers %}
                                                            <div class="d-flex flex-row m-0 p-0 mb-1 mt-2">
                                                                <a href="{{ path('app_profile', {id: member.user.id}) }}" class="ms-3">
                                                                    <img class="img-sm rounded-circle" src="{{ asset('uploads/avatars/' ~ member.user.avatar) }}" alt="avatar" onerror="showDefaultIcon(this)">
                                                                </a>
                                                                <a href="{{ path('app_profile', {id: member.user.id}) }}" class="text-white ms-3" style="text-decoration: none;">
                                                                    <span style="font-size: 20px">@{{ member.user.nametag }}</span>
                                                                </a>
                                                                <div class="d-flex justify-content-end align-items-center" style="width: 100%">
                                                                    {% if member.role == 'owner' %}
                                                                        <span class="me-2 text-warning" style="font-size: 18px">Owner</span>
                                                                    {% else %}
                                                                        <span class="me-2" style="font-size: 18px">Member</span>
                                                                    {% endif %}

                                                                    {% if currentUserIsOwner and member.user.id != app.user.id %}
                                                                        {% if ring.isSuspended == 0 %}
                                                                            <div class="col-1 d-flex">
                                                                                <div class="dropdown top-0 end-0 m-2">
                                                                                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                                                                       class="text-white"
                                                                                       style="right: 10px; text-decoration: none; z-index: 10;">
                                                                                        <i class="fa fa-ellipsis-h" style="font-size: 25px;"></i>
                                                                                    </a>
                                                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                                                        <li>
                                                                                            <a class="dropdown-item" href="{{ path('app_ring_remove_member', {'id': member.user.id, 'ringId': member.ring.id}) }}">
                                                                                                Remove
                                                                                            </a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a class="dropdown-item" href="{{ path('app_ring_change_member_role', {'id': member.user.id, 'ringId': member.ring.id}) }}">
                                                                                                Make owner
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <p>No members found for this ring.</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p id="desc-preview" class="m-0 text-white" style="
                                    font-size: 20px;
                                    line-height: 26px;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                ">
                                    {{ ring.description }}
                                </p>
                                <a id="view-more-link" href="#" data-bs-toggle="modal" data-bs-target="#viewMoreDescModal"
                                   style="color: white; font-size: 18px; display: none; width: fit-content;">
                                    <small>View more</small>
                                </a>

                                <!-- VIEW MORE MODAL -->
                                <div class="modal fade" id="viewMoreDescModal" tabindex="-1" aria-labelledby="viewMoreDescModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="max-width: 850px;">
                                        <div class="modal-content bg-dark text-white">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="viewMoreDescModalLabel">Description</h5>
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" style="max-height: 300px; overflow-y: auto;">
                                                <div class="d-flex flex-row m-0 p-0 mb-1 mt-2">
                                                    <p class="m-0 text-white" style="font-size: 20px;">
                                                        {{ ring.description }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {# MOBILE BUTTONS #}
                            <div class="d-flex d-md-none flex-row flex-wrap justify-content-start align-items-start gap-2 mt-2" style="max-width: 100%;">
                                {# INTEREST #}
                                <div style="order: -1;">
                                    <a href="{{ path('app_interest_show', {'id': ring.interest.id}) }}"
                                       class="align-self-start text-decoration-none"
                                       style="line-height: 1; padding: 0;">
                                       <span class="bg-light px-2 py-1 text-dark rounded-pill d-inline-block"
                                             style="font-size: 19px; line-height: 1; margin-top: 18px;">
                                          #{{ ring.interest.title }}
                                       </span>
                                    </a>
                                </div>

                                {# JOIN / LEAVE / + BUTTONS WRAPPED TOGETHER #}
                                <div class="d-flex flex-row flex-wrap align-items-start gap-2">
                                    {% set isMember = false %}
                                    {% set isOwner = false %}
                                    {% for member in members %}
                                        {% if member.user.id == app.user.id %}
                                            {% set isMember = true %}
                                            {% if member.role == 'owner' %}
                                                {% set isOwner = true %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if isMember and not isOwner %}
                                        <a href="{{ path('app_leave_ring', {'id': ring.id}) }}"
                                           class="text-decoration-none mt-3"
                                           style="line-height: 1; padding: 0; margin-top: 4px;">
                                            <span class="btn btn-danger px-2 py-1 text-dark d-inline-block"
                                                  style="font-size: 24px; line-height: 1; border-radius: 10px;">
                                                Leave
                                            </span>
                                        </a>
                                    {% elseif not isMember and not isOwner %}
                                        <a href="{{ path('app_join_ring', {'id': ring.id}) }}"
                                           class="text-decoration-none mt-3"
                                           style="line-height: 1; padding: 0; margin-top: 4px;">
                                            <span class="btn btn-success px-2 py-1 text-dark d-inline-block"
                                                  style="font-size: 24px; line-height: 1; border-radius: 10px;">
                                                Join
                                            </span>
                                        </a>
                                    {% endif %}

                                    {% if isMember %}
                                        {% if ring.isSuspended == 0 %}
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#newRingNoteModal"
                                               class="text-decoration-none mt-3"
                                               style="line-height: 1; padding: 0; margin-top: 4px;">
                                                <span class="btn btn-light px-2 py-1 text-dark d-inline-block"
                                                      style="font-size: 24px; line-height: 1; border-radius: 10px;">
                                                    +
                                                </span>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            </div>
                            {# DESKTOP BUTTONS #}
                            <div class="d-none d-md-flex flex-row ms-auto">
                                {# JOIN COMMUNITY #}
                                {% set isMember = false %}
                                {% set isOwner = false %}
                                {% for member in members %}
                                    {% if member.user.id == app.user.id %}
                                        {% set isMember = true %}
                                        {% if member.role == 'owner' %}
                                            {% set isOwner = true %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if isMember and not isOwner %}
                                    <a href="{{ path('app_leave_ring', {'id': ring.id}) }}"
                                       class="ms-auto align-self-start text-decoration-none mt-3"
                                       style="line-height: 1; padding: 0; margin-top: 4px;">
                                        <span class="btn btn-danger px-2 py-1 text-dark d-inline-block"
                                              style="font-size: 24px; line-height: 1;border-radius: 10px">
                                            Leave
                                        </span>
                                    </a>
                                {% elseif not isMember and not isOwner %}
                                    <a href="{{ path('app_join_ring', {'id': ring.id}) }}"
                                       class="ms-auto align-self-start text-decoration-none mt-3"
                                       style="line-height: 1; padding: 0; margin-top: 4px;">
                                        <span class="btn btn-success px-2 py-1 text-dark d-inline-block"
                                              style="font-size: 24px; line-height: 1;border-radius: 10px">
                                            Join
                                        </span>
                                    </a>
                                {% endif %}
                                {# ADD NOTE TO COMMUNITY #}
                                {% if isMember %}
                                    {% if ring.isSuspended == 0 %}
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#newRingNoteModal"
                                           class="ms-auto align-self-start text-decoration-none mt-3 ps-1 pe-1"
                                           style="line-height: 1; padding: 0; margin-top: 4px;">
                                        <span class="btn btn-light px-2 py-1 text-dark d-inline-block"
                                              style="font-size: 24px; line-height: 1;border-radius: 10px">
                                            +
                                        </span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                        <div class="col-1 d-md-flex d-none position-relative">
                            {% if ring.isSuspended == 0 %}
                            <div class="dropdown position-absolute top-0 end-0 m-2">
                                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                   class="position-absolute mt-5 text-white"
                                   style="right: 10px; text-decoration: none; z-index: 10;">
                                    <i class="fa fa-ellipsis-h" style="font-size: 25px;"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    {% if app.user == ring.user %}
                                        <li><a class="dropdown-item" href="{{ path('app_ring_update',{'id': ring.id}) }}">Edit...</a></li>
                                        <li>
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteRingModal-{{ ring.id }}"
                                               data-note-id="{{ ring.id }}" data-note-token="{{ csrf_token('delete' ~ ring.id) }}">
                                                Delete ring
                                            </a>
                                        </li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="#">Report</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                </div>
                {# RING NOTES #}
                <div class="row d-flex justify-content-center mb-4" style="background-color: #181b20; border-radius: 5px;">
                    {% if ring.isSuspended == 0 %}
                        <div class="col-12 p-3">
                        <div class="ms-md-5 ms-1 text-muted" style="font-size: 13px">
                            -- NOTES --
                        </div>
                        <div id="note-error-message" class="alert alert-danger mt-2 d-none"></div>
                        {# NOTES LIST #}
                        <div class="row justify-content-center mb-3">
                            <div id="loading-spinner" style="display:none; text-align:center;">
                                <div class="spinner-border text-light" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            {# NOTE #}
                            {% if ringNotes is defined and ringNotes|length > 0 %}
                                {% for item in ringNotes %}
                                    <div class="col-lg-10 pt-4 ps-4 pe-4 pb-3" style="background-color: #2d343a; border-radius: 5px; margin-top: 1rem;">
                                        {# NOTE PROFILE #}
                                        <div class="navbar-profile d-flex flex-row text-light mb-3" style="width: 100%;">
                                            <a class="nav-link me-3 mt-2" id="avatarNote" href="{{ path('app_profile', {'id': item.note.user.id}) }}">
                                                <img class="img-sm rounded-circle" src="{{ asset('Uploads/avatars/' ~ item.note.user.avatar) }}" alt="avatar" onerror="showDefaultIcon(this)">
                                            </a>
                                            <div class="d-flex flex-column">
                                                <div class="d-flex align-items-center mt-0">
                                                    <a class="nav-link mt-3 d-flex align-items-center" id="nametagNote" href="{{ path('app_profile', {'id': item.note.user.id}) }}">
                                                        <h5 class="mb-0 navbar-profile-name">@{{ item.note.user.nametag }}</h5>
                                                    </a>
                                                    {% if item.note.isPinned %}
                                                        <span class="pinned-icon" title="Pinned" style="font-size: 1.2rem; margin-left: 7px; color: orange;">
                                                            📌
                                                        </span>
                                                    {% endif %}
                                                </div>
                                                <div class="d-flex flex-column m-0 p-0" style="font-size: 12px; color: gray">
                                                    <div class="d-flex flex-row m-0 p-0">
                                                        {% if item.note.isEdited %}
                                                            <i class="fa fa-clock-o mt-1 me-1 mb-1"></i>
                                                        {% endif %}
                                                        <p class="mb-1">{{ item.note.humanTimePost }}</p>
                                                        <p class="ms-1 me-1 mb-1">•</p>
                                                        <a class="m-0 p-0" style="text-decoration: none; color: #d1d0d0" href="{{ path('app_note_show', {'noteId': item.note.id}) }}">
                                                            <p class="mb-1">View</p>
                                                        </a>
                                                    </div>
                                                    {% set role = rolesMap[item.note.user.id] ?? 'Member' %}
                                                    {% set bgColor = role == 'member' ? '#6c757d' : 'orange' %}
                                                    <div class="d-flex align-items-center" style="gap: 3px; font-size: 13px;">
                                                        <p class="mb-0 text-muted" style="white-space: nowrap;">Role:</p>
                                                        <span style="
                                                            background-color: {{ bgColor }};
                                                            color: white;
                                                            padding: 2px 8px;
                                                            border-radius: 12px;
                                                            font-weight: 600;
                                                            text-transform: capitalize;
                                                            white-space: nowrap;">
                                                            {{ role|capitalize }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown ms-auto mt-1 me-1">
                                                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-sort-desc" style="color: white"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    {% if rolesMap[app.user.id] == 'owner' %}
                                                        <li>
                                                            <a class="dropdown-item pin-toggle-btn"
                                                               href="#"
                                                               data-note-id="{{ item.note.id }}"
                                                               data-csrf-token="{{ csrf_token('toggle_pin' ~ item.note.id) }}">
                                                                {% if item.note.isPinned %}
                                                                    Unpin Note
                                                                {% else %}
                                                                    Pin Note
                                                                {% endif %}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                    {% if app.user.nametag == item.note.user.nametag %}
                                                        {% if isMember %}
                                                            <li>
                                                                <a class="dropdown-item" href="{{ path('app_note_update', {'id': item.note.id, 'ringId': ring.id}) }}">Edit...</a>
                                                            </li>
                                                        {% endif %}
                                                        <li>
                                                            <a class="dropdown-item" href="#"
                                                               data-bs-toggle="modal"
                                                               data-bs-target="#deleteNoteModal"
                                                               data-note-id="{{ item.note.id }}"
                                                               data-note-token="{{ csrf_token('delete' ~ item.note.id) }}">
                                                                Delete note
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li>
                                                            <a class="dropdown-item" href="{{ path('app_note_report', {id: item.note.id}) }}">Report</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>

                                                <div class="modal fade" id="deleteNoteModal" tabindex="-1" aria-labelledby="deleteNoteModalLabel" aria-hidden="true" style="overflow-y: hidden;">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content border-danger">
                                                            <div class="modal-header bg-danger text-white">
                                                                <h5 class="modal-title" id="deleteNoteModalLabel">Confirm note deletion</h5>
                                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure you want to delete this note?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form method="post" id="deleteNoteForm" action="">
                                                                    <input type="hidden" name="_token" id="deleteTokenInput" value="">
                                                                    <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {# NOTE CONTENT #}
                                        <div class="d-flex flex-row text-gray mb-1">
                                            <p style="font-size: 16px; white-space: pre-wrap;">{{ item.note.content }}</p>
                                        </div>
                                        {# NOTE IMAGE #}
                                        {% if item.note.image %}
                                            <div class="d-flex flex-row text-gray justify-content-center mb-2">
                                                <a href="{{ path('app_note_show', {'noteId': item.note.id}) }}">
                                                    <img src="{{ asset('Uploads/notes/' ~ item.note.image)}}" class="img-fluid" id="noteImage" alt="noteImage" onerror="showDefaultImage(this)"/>
                                                </a>
                                            </div>
                                        {% endif %}
                                        {# NOTE NAV – DESKTOP & MOBILE HYBRID #}
                                        <div class="d-flex flex-wrap align-items-center text-gray mt-2 mb-1 ms-0 ps-0">
                                            {# VOTE & COMMENTS – ALWAYS SHOWN #}
                                            <div class="d-flex flex-row flex-wrap">
                                                {# UPVOTE #}
                                                <button class="upvote-btn btn btn-sm d-flex align-items-center border-0
                                                    {% if votesMap[item.note.id] is defined and votesMap[item.note.id] == 'upvote' %}
                                                        btn-light
                                                    {% else %}
                                                        btn-outline-light
                                                    {% endif %}"
                                                        data-id="{{ item.note.id }}">
                                                    <i class='bx bx-arrow-up' style="font-size: 20px;"></i>
                                                    <span class="ms-1" id="upvotes-{{ item.note.id }}">{{ item.note.getUpVote() }}</span>
                                                </button>
                                                {# DOWNVOTE #}
                                                <button class="downvote-btn btn btn-sm d-flex align-items-center border-0
                                                    {% if votesMap[item.note.id] is defined and votesMap[item.note.id] == 'downvote' %}
                                                        btn-light
                                                    {% else %}
                                                        btn-outline-light
                                                    {% endif %}"
                                                        data-id="{{ item.note.id }}">
                                                    <i class='bx bx-arrow-down' style="font-size: 20px;"></i>
                                                    <span class="ms-1" id="downvotes-{{ item.note.id }}">{{ item.note.getDownVote() }}</span>
                                                </button>
                                                {# COMMENTS BUTTON #}
                                                <button type="button"
                                                        class="btn btn-outline-light btn-sm d-flex flex-row align-items-center border-0 ps-2 pe-2 ms-1 toggle-comments compact-btn"
                                                        data-note-id="{{ item.note.id }}">
                                                    <i class='bx bx-message-circle-reply pe-1'></i>
                                                    <span class="comment-count">{{ item.note.comments|length }}</span>
                                                </button>
                                                <div class="ms-2 me-2 pt-1 d-none d-md-block">
                                                    <p class="text-white" style="margin-top: 7px">•</p>
                                                </div>
                                                {# NOTE MENTIONED – SHOWN ONLY ON DESKTOP #}
                                                <div class="d-none d-md-block ps-1 pe-1" style="margin-top: 10px">
                                                    <p class="mb-0 mt-0 text-white" style="font-size: 16px">
                                                        mentioned
                                                        {% if item.mentionedUser %}
                                                            <a class="m-0 p-0 text-white" href="{{ path('app_profile', {'id': item.mentionedUser.id}) }}" style="text-decoration: none;">
                                                                <b style="background-color: #2A3038">@{{ item.mentionedUser.nametag }}</b>
                                                            </a>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                            {# NOTE MENTIONED – SHOWN ONLY ON MOBILE #}
                                            <div class="d-block d-md-none w-100 mt-3 ps-3 pe-1 mb-2">
                                                <p class="text-white" style="margin-bottom: -2px; font-size: 16px">
                                                    mentioned
                                                    {% if item.mentionedUser %}
                                                        <a class="m-0 p-0 text-white" href="{{ path('app_profile', {'id': item.mentionedUser.id}) }}" style="text-decoration: none;">
                                                            <b style="background-color: #2A3038">@{{ item.mentionedUser.nametag }}</b>
                                                        </a>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        {# NOTE COMMENT #}
                                        <div class="note-comments pt-3" id="comments-{{ item.note.id }}" style="display: none;">
                                            {% if isMember %}
                                                {# WRITING COMMENT FORM #}
                                                <form method="POST" action="{{ path('note_comment', {id: item.note.id}) }}" class="ajax-comment-form" data-note-id="{{ item.note.id }}">
                                                    <div class="d-flex flex-row mb-3">
                                                        <a class="nav-link me-2" href="#">
                                                            <img class="img-xs rounded-circle" src="{{ asset('Uploads/avatars/' ~ app.user.avatar)}}" alt="writeCommentAvatar" onerror="showDefaultIcon(this)">
                                                        </a>
                                                        <div class="d-flex flex-row w-100">
                                                            <input type="text" style="background-color: #272b33" name="message" class="form-control comment-input mb-1" placeholder="Write a comment..." required>
                                                            <div class="d-flex justify-content-end">
                                                                <button type="submit" class="btn btn-light btn-sm px-3" style="height: 40px;">Post</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="alert alert-danger alert-dismissible fade show comment-error d-none mt-2" role="alert">
                                                        <span class="error-message"></span>
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                </form>
                                            {% else %}
                                                <div class="text-white mb-3 ps-3">
                                                    <small>You must join this community to comment.</small>
                                                </div>
                                            {% endif %}
                                            <div class="new-comments"></div>
                                            {# COMMENTS LIST #}
                                            <div id="comments-list-{{ item.note.id }}">
                                                {% for comment in limitedComments[item.note.id] %}
                                                    <div class="d-flex flex-row mb-3" data-note-id="{{ item.note.id }}">
                                                        <a class="nav-link me-2" href="#">
                                                            <img class="img-xs rounded-circle" src="{{ asset('Uploads/avatars/' ~ comment.user.avatar) }}" alt="avatarComment" onerror="showDefaultIcon(this)">
                                                        </a>
                                                        <div class="m-0 p-0">
                                                            <div class="d-flex flex-row" style="height: 30px;">
                                                                <p class="text-white me-2" style="font-size: 18px;">@{{ comment.user.nametag }}</p>
                                                                {% if comment.isEdited %}
                                                                    <i class="fa fa-clock-o text-gray me-1" style="margin-top: 6px"></i>
                                                                {% else %}
                                                                    <p class="text-gray mt-1 me-2">•</p>
                                                                {% endif %}
                                                                <p class="text-gray mt-1">{{ comment.humanTimeComment }}</p>
                                                            </div>
                                                            <div class="d-inline-flex">
                                                                <small style="font-size: 16px; color: white; background-color: #757575; border-radius: 8px; opacity: 0.5; padding: 5px;">{{ comment.message }}</small>
                                                                {# UPVOTE FORM #}
                                                                <button
                                                                        class="btn btn-sm btn-outline-light d-flex align-items-center border-0 comment-upvote-btn"
                                                                        data-note-id="{{ item.note.id }}"
                                                                        data-comment-id="{{ comment.id }}"
                                                                        data-csrf="{{ csrf_token('vote') }}"
                                                                        type="button">
                                                                    <i class='bx bx-arrow-up' style="font-size: 20px;"></i>
                                                                    <span id="comment-upvotes-{{ comment.id }}" class="ms-1">{{ comment.upVote ?? 0 }}</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        {% if isMember %}
                                                            <div class="dropdown ms-auto me-1 d-inline-flex justify-content-end">
                                                                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 30px;">
                                                                    <i class='bx bx-dots-horizontal-rounded' style='color:#ffffff'></i>
                                                                </a>
                                                                <ul class="dropdown-menu m-0">
                                                                    {% if app.user.nametag == comment.user.nametag %}
                                                                        <li><a class="dropdown-item" href="{{ path('note_comment_update', {id: comment.id, noteId: item.note.id}) }}">Edit...</a></li>
                                                                        <li><a class="dropdown-item delete-comment-btn" href="{{ path('note_comment_delete', {id: comment.id, noteId: item.note.id}) }}">Delete comment</a></li>
                                                                    {% else %}
                                                                        <li><a class="dropdown-item" href="{{ path('note_comment_report', {id: comment.id, noteId: item.note.id}) }}">Report</a></li>
                                                                    {% endif %}
                                                                </ul>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                                {% if item.note.comments|length > limitedComments[item.note.id]|length %}
                                                    <div class="text-start mt-2">
                                                        <a href="#" class="see-all-comments text-warning" data-note-id="{{ item.note.id }}">
                                                            <small>See all comments</small>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-lg-10 pt-4 ps-4 pe-4" style="background-color: #181b20; border-radius: 5px; margin-top: 2rem;">
                                    <p class="text-light">Oops. No notes available here.</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# NEW NOTE MODAL #}
    <div class="modal fade" id="newRingNoteModal" tabindex="-1" aria-labelledby="newRingNoteModalLabel" aria-hidden="true" style="overflow-y: hidden;">
        <div class="modal-dialog" style="max-width: 850px;">
            <div class="modal-content" style="background-color: #181b20; border-radius: 5px;">
                <div class="modal-body">
                    <form id="new-ring-note-form" class="forms-sample" method="POST" enctype="multipart/form-data">
                        <div class="form-group mb-3">
                            <textarea name="content" id="post-content" placeholder="Write a new note in {{ ring.title }}..." class="form-control" style="height: 85px;" required></textarea>
                        </div>

                        <div class="form-group d-flex flex-row mb-3">
                            <a class="btn" style="height: 2.575rem; background-color: #2A3038; border-top-right-radius: 0; border-bottom-right-radius: 0;" tabindex="-1" role="button" aria-disabled="true">
                                <p style="font-size: 20px; color: #eaeaea;">@</p>
                            </a>
                            <input type="text" placeholder="Address to a member" name="nametag" id="nametag" class="form-control" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="noteImage" class="form-label text-light">Add image</label>
                            <input type="file" class="form-control" id="noteImage" name="image" accept="image/*">
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-danger me-2" data-bs-dismiss="modal" aria-label="Close">Close</button>
                            <button type="submit" class="btn btn-light" style="width: 120px;">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {# DELETE RING MODAL #}
    <div class="modal fade" id="deleteRingModal-{{ ring.id }}" tabindex="-1" aria-labelledby="deleteRingModalLabel-{{ ring.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content border-danger">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="deleteRingModalLabel-{{ ring.id }}">Confirm ring deletion</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this ring?
                </div>
                <div class="modal-footer">
                    <form method="post" action="{{ path('app_ring_delete', { id: ring.id }) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ring.id) }}">
                        <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    window.votesMap = {{ votesMap|json_encode|raw }};
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".toggle-comments");

    buttons.forEach(button => {
        button.addEventListener("click", function () {
            const noteId = this.getAttribute("data-note-id");
            const commentSection = document.getElementById("comments-" + noteId);

            if (commentSection) {
                if (commentSection.style.display === "none" || commentSection.style.display === "") {
                    commentSection.style.display = "block";
                } else {
                    commentSection.style.display = "none";
                }
            } else {
                console.error("Nu s-a găsit elementul pentru comentarii cu id: comments-" + noteId);
            }
        });
    });
});
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    $('#new-ring-note-form').on('submit', function (e) {
        e.preventDefault(); // prevenim redirectul paginii
        let form = $('#new-ring-note-form')[0];
        let formData = new FormData(form);

        // Arată loading și notează timpul start
        $('#loading-spinner').show();
        const startTime = Date.now();

        $.ajax({
            url: "{{ path('app_note_new', {'ringId': ring.id}) }}",
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                const modalEl = document.getElementById('newRingNoteModal');
                modalEl.classList.remove('show');
                modalEl.style.display = 'none';
                document.body.classList.remove('modal-open');
                $('.modal-backdrop').remove();

                form.reset();

                setTimeout(function () {
                    $('#loading-spinner').hide();
                    location.reload();
                }, 1500);
            },
            error: function (xhr) {
                $('#loading-spinner').hide();
                const errorBox = $('#note-error-message');
                const response = xhr.responseJSON;

                if (response && response.message) {
                    errorBox.text(response.message).removeClass('d-none');
                } else {
                    errorBox.text('Unexpected error occurred.').removeClass('d-none');
                }
            }
        });
    });
});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const paragraph = document.getElementById('desc-preview');
        const viewMoreLink = document.getElementById('view-more-link');

        const maxVisibleHeight = 3 * 26;

        if (paragraph.scrollHeight > maxVisibleHeight) {
            viewMoreLink.style.display = 'inline-block';
        }
    });
</script>
<script src="{{ asset('../assets/js/pin.js') }}"></script>
<script src="{{ asset('../assets/js/feed.js') }}"></script>
{% endblock %}