{% extends 'base.html.twig' %}

{% block title %}{{ ring.title }} - Rings{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper p-0">
            <div class="row justify-content-center mb-4">
                {# RING TOP CONTAINER #}
                <div class="row d-flex justify-content-center mb-2" style="background-color: #181b20; border-radius: 5px; margin-top: 2rem;">
                    <div class="col-1"></div>
                    <div class="col-9">
                        <div class="avatar-pic d-flex justify-content-center align-items-center">
                            <div class="avatar-indicator position-relative d-inline-block">
                                <img src="{{ asset('uploads/rings/' ~ ring.banner) }}"
                                     alt="Banner"
                                     class="img-thumbnail img-fluid rounded-circle mt-3"
                                     style="width: 400px; height: 400px;"/>
                            </div>
                        </div>
                        <div class="d-flex flex-row mt-2 mb-3">
                            <div class="mt-2 me-2">
                                <img src="{{ asset('assets/images/media/rings-logo.png') }}" style="width: 50px; height: 50px;" />
                            </div>
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row">
                                    <h1 class="mb-0" style="margin-top: 4px">{{ ring.title }}</h1>
                                    <a href="{{ path('app_interest_show', {'id': ring.interest.id}) }}"
                                       class="ms-2 align-self-start text-decoration-none"
                                       style="line-height: 1; padding: 0;">
                                        <span class="bg-light px-2 py-1 text-dark rounded-pill d-inline-block"
                                              style="font-size: 19px; line-height: 1;margin-top: 13px">
                                            #{{ ring.interest.title }}
                                        </span>
                                    </a>
                                </div>
                                <div class="d-flex flex-row text-muted">
                                    <p style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#membersModal-{{ ring.id }}">
                                        {{ members|filter(member => member.ring.id == ring.id)|length }}
                                        {{ members|filter(member => member.ring.id == ring.id)|length == 1 ? 'member' : 'members' }}
                                    </p>
                                    <p class="ms-1">•</p>
                                    <p>
                                        created by
                                        <a href="{{ path('app_profile', {'id': ring.user.id}) }}"
                                           class="text-muted fw-bold text-decoration-none">
                                            {{ ring.user.nametag }}
                                        </a>
                                    </p>
                                </div>
                                <!-- Modalul pentru afișarea membrilor ringului -->
                                <div class="modal fade" id="membersModal-{{ ring.id }}" tabindex="-1" aria-labelledby="membersModalLabel-{{ ring.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content bg-dark text-white">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="membersModalLabel-{{ ring.id }}">Members of {{ ring.title }}</h5>
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" style="max-height: 300px; overflow-y: auto;">
                                                {% set ringMembers = members|filter(member => member.ring.id == ring.id) %}
                                                {% if ringMembers|length > 0 %}
                                                    <ul class="list-group list-group-flush">
                                                        {% for member in ringMembers %}
                                                            <div class="d-flex flex-row m-0 p-0 mb-1 mt-2">
                                                                <a href="{{ path('app_profile', {id: member.user.id}) }}" class="ms-3">
                                                                    <img class="img-sm rounded-circle" src="{{ asset('uploads/avatars/' ~ member.user.avatar) }}" alt="avatar" onerror="showDefaultIcon(this)">
                                                                </a>
                                                                <a href="{{ path('app_profile', {id: member.user.id}) }}" class="text-white ms-3" style="text-decoration: none;">
                                                                    <span style="font-size: 20px">@{{ member.user.nametag }}</span>
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <p>No members found for this ring.</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="mb-3 text-white" style="font-size: 20px">{{ ring.description }}</p>
                            </div>

                            <div class="d-flex flex-row ms-auto mt-2">
                                {# JOIN COMMUNITY #}
                                {% set isMember = false %}
                                {% for member in members %}
                                    {% if member.user.id == app.user.id %}
                                        {% set isMember = true %}
                                    {% endif %}
                                {% endfor %}

                                {% if isMember %}
                                    <a href="{{ path('app_leave_ring', {'id': ring.id}) }}"
                                       class="ms-auto align-self-start text-decoration-none mt-3"
                                       style="line-height: 1; padding: 0; margin-top: 4px;">
                                        <span class="btn btn-danger px-2 py-1 text-dark d-inline-block"
                                              style="font-size: 24px; line-height: 1;border-radius: 10px">
                                            Leave
                                        </span>
                                    </a>
                                {% else %}
                                    <a href="{{ path('app_join_ring', {'id': ring.id}) }}"
                                       class="ms-auto align-self-start text-decoration-none mt-3"
                                       style="line-height: 1; padding: 0; margin-top: 4px;">
                                        <span class="btn btn-success px-2 py-1 text-dark d-inline-block"
                                              style="font-size: 24px; line-height: 1;border-radius: 10px">
                                            Join
                                        </span>
                                    </a>
                                {% endif %}
                                {# ADD NOTE TO COMMUNITY #}
                                {% if isMember %}
                                    {# Afișezi formularul/modalul pentru adăugare de note #}
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#newRingNoteModal"
                                       class="ms-auto align-self-start text-decoration-none mt-3 ps-1 pe-1"
                                       style="line-height: 1; padding: 0; margin-top: 4px;">
                                    <span class="btn btn-light px-2 py-1 text-dark d-inline-block"
                                          style="font-size: 24px; line-height: 1;border-radius: 10px">
                                        +
                                    </span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-1 position-relative">
                        <div class="dropdown position-absolute top-0 end-0 m-2">
                            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                               class="position-absolute mt-5 text-white"
                               style="right: 10px; text-decoration: none; z-index: 10;">
                                <i class="fa fa-ellipsis-h" style="font-size: 25px;"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                {% if app.user == ring.user %}
                                    <li><a class="dropdown-item" href="#">Edit...</a></li>
                                    <li>
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteRingModal-{{ ring.id }}"
                                           data-note-id="{{ ring.id }}" data-note-token="{{ csrf_token('delete' ~ ring.id) }}">
                                            Delete ring
                                        </a>
                                    </li>
                                {% else %}
                                    <li><a class="dropdown-item" href="#">Report</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                {# RING NOTES #}
                <div class="row d-flex justify-content-center mb-4" style="background-color: #181b20; border-radius: 5px;">
                    <div class="col-12 p-3">
                        <div class="ms-md-5 ms-1 mb-2 text-muted" style="font-size: 13px">
                            -- NOTES --
                        </div>
                        <div class="m-0 p-0 mb-2" id="errorWhilePosting" style="display: {{ divVisibility }};">
                            <span class="badge bg-danger">{{ error }}</span>
                        </div>
                        {# NOTES LIST #}
                        <div class="row justify-content-center mb-3">
{#                             NOTE #}
                            {% if ringNotes is defined %}
                                {% for note in ringNotes %}
                                    <div class="col-lg-10 pt-4 ps-4 pe-4 pb-3" style="background-color: #181b20; border-radius: 5px; margin-top: 2rem;">
{#                                         NOTE PROFILE #}
                                        <div class="navbar-profile d-flex flex-row text-light mb-3" style="width: 100%;">
                                            <a class="nav-link me-3 mt-2" id="avatarNote" href="{{ path('app_profile', {'id': note.user.id}) }}">
                                                <img class="img-sm rounded-circle" src="{{ asset('uploads/avatars/' ~ note.user.avatar) }}" alt="avatar" onerror="showDefaultIcon(this)">
                                            </a>
                                            <div class="d-flex flex-column">
                                                <a class="nav-link mt-3" id="nametagNote" href="{{ path('app_profile', {'id': note.user.id}) }}">
                                                    <h5 class="mb-0 navbar-profile-name">@{{ note.user.nametag }}</h5>
                                                </a>
                                                <div class="d-flex flex-row m-0 p-0" style="font-size: 12px; color: gray">
                                                    <div class="d-flex flex-row m-0 p-0">
                                                        {% if note.isEdited %}
                                                            <i class="fa fa-clock-o mt-1 me-1"></i>
                                                        {% endif %}
                                                        <p>{{ note.humanTimePost }}</p>
                                                        {% if isMember %}
                                                            <p class="ms-1 me-1">•</p>
                                                            <a class="m-0 p-0" style="text-decoration: none; color: #d1d0d0" href="{{ path('app_note_show', {'noteId': note.id}) }}">
                                                                <p>View</p>
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% if isMember %}
                                                <div class="dropdown ms-auto mt-1 me-1">
                                                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fa fa-sort-desc" style="color: white"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        {% if app.user.nametag == note.user.nametag %}
                                                            <li>
                                                                <a class="dropdown-item" href="{{ path('app_note_update', {'id': note.id, 'ringId': ring.id}) }}">Edit...</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href="#"
                                                                   data-bs-toggle="modal"
                                                                   data-bs-target="#deleteNoteModal"
                                                                   data-note-id="{{ note.id }}"
                                                                   data-note-token="{{ csrf_token('delete' ~ note.id) }}">
                                                                    Delete note
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li>
                                                                <a class="dropdown-item" href="{{ path('app_note_report', {id: note.id}) }}">Report</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>

                                                    <div class="modal fade" id="deleteNoteModal" tabindex="-1" aria-labelledby="deleteNoteModalLabel" aria-hidden="true" style="overflow-y: hidden;">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content border-danger">
                                                                <div class="modal-header bg-danger text-white">
                                                                    <h5 class="modal-title" id="deleteNoteModalLabel">Confirm note deletion</h5>
                                                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Are you sure you want to delete this note?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <form method="post" id="deleteNoteForm" action="">
                                                                        <input type="hidden" name="_token" id="deleteTokenInput" value="">
                                                                        <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
{#                                         NOTE CONTENT #}
                                        <div class="d-flex flex-row text-gray mb-1">
                                            <p style="font-size: 16px; white-space: pre-wrap;">{{ note.content }}</p>
                                        </div>
{#                                         NOTE IMAGE #}
                                        {% if note.image %}
                                            <div class="d-flex flex-row text-gray justify-content-center mb-2">
                                                <a href="{{ path('app_note_show', {'noteId': note.id}) }}">
                                                    <img src="{{ asset('uploads/notes/' ~ note.image)}}" class="img-fluid" id="noteImage" alt="noteImage" onerror="showDefaultImage(this)"/>
                                                </a>
                                            </div>
                                        {% endif %}
{#                                         NOTE NAV – DESKTOP & MOBILE HYBRID #}
                                        <div class="d-flex flex-wrap align-items-center text-gray mt-2 mb-1 ms-0 ps-0">
{#                                             VOTE & COMMENTS – ALWAYS SHOWN #}
                                            <div class="d-flex flex-row flex-wrap">
{#                                                 UPVOTE #}
                                                <button class="upvote-btn btn btn-sm    d-flex align-items-center border-0
                                        {% if votesMap[note.id] is defined and votesMap[note.id] == 'upvote' %}
                                            btn-light
                                        {% else %}
                                            btn-outline-light
                                        {% endif %}"
                                                        data-id="{{ note.id }}">
                                                    <i class='bx bx-arrow-up' style="font-size: 20px;"></i>
                                                    <span class="ms-1" id="upvotes-{{ note.id }}">{{ note.getUpVote() }}</span>
                                                </button>

{#                                                 DOWNVOTE #}
                                                <button class="downvote-btn btn btn-sm d-flex align-items-center border-0
                                        {% if votesMap[note.id] is defined and votesMap[note.id] == 'downvote' %}
                                            btn-light
                                        {% else %}
                                            btn-outline-light
                                        {% endif %}"
                                                        data-id="{{ note.id }}">
                                                    <i class='bx bx-arrow-down' style="font-size: 20px;"></i>
                                                    <span class="ms-1" id="downvotes-{{ note.id }}">{{ note.getDownVote() }}</span>
                                                </button>

{#                                                 COMMENTS BUTTON #}
                                                <button type="button"
                                                        class="btn btn-outline-light btn-sm d-flex flex-row align-items-center border-0 ps-2 pe-2 ms-1 toggle-comments compact-btn"
                                                        data-note-id="{{ note.id }}">
                                                    <i class='bx bx-message-circle-reply pe-1'></i>
                                                    <span class="comment-count">{{ note.comments|length }}</span>
                                                </button>

                                                <div class="ms-2 me-2 pt-1 d-none d-md-block">
                                                    <p class="text-white" style="margin-top: 7px">•</p>
                                                </div>

{#                                                 NOTE MENTIONED – SHOWN ONLY ON DESKTOP #}
                                                <div class="d-none d-md-block ps-1 pe-1" style="margin-top: 10px">
                                                    <p class="mb-0 mt-0 text-white" style="font-size: 16px">
                                                        mentioned
                                                        {% if note.mentionedUserId %}
                                                            <a class="m-0 p-0 text-white" href="{{ path('app_profile', {'id': note.mentionedUserId}) }}" style="text-decoration: none;">
                                                                <b style="background-color: #2A3038">@{{ note.nametag }}</b>
                                                            </a>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>

{#                                             NOTE MENTIONED – SHOWN ONLY ON MOBILE, BELOW BUTTONS #}
                                            <div class="d-block d-md-none w-100 mt-2 ps-3 pe-1 mb-2">
                                                <p class="text-white" style="margin-bottom: -2px; font-size: 16px">
                                                    mentioned
                                                    {% if note.mentionedUserId %}
                                                        <a class="m-0 p-0 text-white" href="{{ path('app_profile', {'id': note.mentionedUserId}) }}" style="text-decoration: none;">
                                                            <b style="background-color: #2A3038">@{{ note.nametag }}</b>
                                                        </a>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>

{#                                         NOTE COMMENT #}
                                        <div class="note-comments" id="comments-{{ note.id }}" style="display: none;">
                                            {% if isMember %}
{#                                             WRITING COMMENT FORM #}
                                                <form method="POST" action="{{ path('note_comment', {id: note.id}) }}" class="ajax-comment-form" data-note-id="{{ note.id }}">
                                                    <div class="d-flex flex-row mb-3">
                                                        <a class="nav-link me-2" href="#">
                                                            <img class="img-xs rounded-circle" src="{{ asset('uploads/avatars/' ~ app.user.avatar)}}" alt="writeCommentAvatar" onerror="showDefaultIcon(this)">
                                                        </a>
                                                        <div class="d-flex flex-row w-100">
                                                            <input type="text" name="message" class="form-control comment-input mb-1" placeholder="Write a comment..." required>
                                                            <div class="d-flex justify-content-end">
                                                                <button type="submit" class="btn btn-light btn-sm px-3" style="height: 40px;">Post</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            {% else %}
                                                <div class="text-white mb-3 ps-3">
                                                    <small>You must join this community to comment.</small>
                                                </div>
                                            {% endif %}
                                            <div class="new-comments"></div>

{#                                             COMMENTS LIST #}
                                            {% for comment in note.comments %}
                                                <div class="d-flex flex-row mb-3" data-note-id="{{ note.id }}">
                                                    <a class="nav-link me-2" href="#">
                                                        <img class="img-xs rounded-circle" src="{{ asset('uploads/avatars/' ~ comment.user.avatar) }}" alt="avatarComment" onerror="showDefaultIcon(this)">
                                                    </a>
                                                    <div class="m-0 p-0">
                                                        <div class="d-flex flex-row" style="height: 30px;">
                                                            <p class="text-white me-2" style="font-size: 18px;">@{{ comment.user.nametag }}</p>
                                                            {% if comment.isEdited %}
                                                                <i class="fa fa-clock-o text-gray me-1" style="margin-top: 6px"></i>
                                                            {% else %}
                                                                <p class="text-gray mt-1 me-2">•</p>
                                                            {% endif %}
                                                            <p class="text-gray mt-1">{{ comment.humanTimeComment }}</p>
                                                        </div>
                                                        <div class="d-inline-flex">
                                                            <small style="font-size: 16px; color: white; background-color: #757575; border-radius: 8px; opacity: 0.5; padding: 5px;">{{ comment.message }}</small>
{#                                                             UPVOTE FORM #}
                                                            <button
                                                                    class="btn btn-sm btn-outline-light d-flex align-items-center border-0 comment-upvote-btn"
                                                                    data-note-id="{{ note.id }}"
                                                                    data-comment-id="{{ comment.id }}"
                                                                    data-csrf="{{ csrf_token('vote') }}"
                                                                    type="button">
                                                                <i class='bx bx-arrow-up' style="font-size: 20px;"></i>
                                                                <span id="comment-upvotes-{{ comment.id }}" class="ms-1">{{ comment.upVote ?? 0 }}</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    {% if isMember %}
                                                        <div class="dropdown ms-auto me-1 d-inline-flex justify-content-end">
                                                            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 30px;">
                                                                <i class='bx bx-dots-horizontal-rounded' style='color:#ffffff'></i>
                                                            </a>
                                                            <ul class="dropdown-menu m-0">
                                                                {% if app.user.nametag == comment.user.nametag %}
                                                                    <li><a class="dropdown-item" href="{{ path('note_comment_update', {id: comment.id, noteId: note.id}) }}">Edit...</a></li>
                                                                    <li><a class="dropdown-item delete-comment-btn" href="{{ path('note_comment_delete', {id: comment.id, noteId: note.id}) }}">Delete comment</a></li>
                                                                {% else %}
                                                                    <li><a class="dropdown-item" href="{{ path('note_comment_report', {id: comment.id, noteId: note.id}) }}">Report</a></li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-lg-10 pt-4 ps-4 pe-4" style="background-color: #181b20; border-radius: 5px; margin-top: 2rem;">
                                    <p class="text-light">Oops. No notes available here.</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# JOIN COMMUNITY MODAL #}
    <div class="modal fade" id="newRingNoteModal" tabindex="-1" aria-labelledby="newRingNoteModalLabel" aria-hidden="true" style="overflow-y: hidden;">
        <div class="modal-dialog" style="max-width: 850px;">
            <div class="modal-content" style="background-color: #181b20; border-radius: 5px;">
                <div class="modal-body">
                    <form class="forms-sample" method="POST" enctype="multipart/form-data" action="{{ path('app_note_new', {'ringId': ring.id}) }}">
                        <div class="form-group mb-3">
                            <textarea name="content" id="post-content" placeholder="Write a new note in {{ ring.title }}..." class="form-control" style="height: 85px;" required></textarea>
                        </div>

                        <div class="form-group d-flex flex-row mb-3">
                            <a class="btn" style="height: 2.575rem; background-color: #2A3038; border-top-right-radius: 0; border-bottom-right-radius: 0;" tabindex="-1" role="button" aria-disabled="true">
                                <p style="font-size: 20px; color: #eaeaea;">@</p>
                            </a>
                            <input type="text" placeholder="Address to a member" name="nametag" id="nametag" class="form-control" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="noteImage" class="form-label text-light">Add image</label>
                            <input type="file" class="form-control" id="noteImage" name="image" accept="image/*">
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-danger me-2" data-bs-dismiss="modal" aria-label="Close">Close</button>
                            <button type="submit" class="btn btn-light" style="width: 120px;">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script>
    window.votesMap = {{ votesMap|json_encode|raw }};
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".toggle-comments");

    buttons.forEach(button => {
        button.addEventListener("click", function () {
            const noteId = this.getAttribute("data-note-id");
            const commentSection = document.getElementById("comments-" + noteId);

            if (commentSection) {
                if (commentSection.style.display === "none" || commentSection.style.display === "") {
                    commentSection.style.display = "block";
                } else {
                    commentSection.style.display = "none";
                }
            } else {
                console.error("Nu s-a găsit elementul pentru comentarii cu id: comments-" + noteId);
            }
        });
    });
});
</script>
<script src="{{ asset('../assets/js/feed.js') }}"></script>
{% endblock %}