{% extends 'base.html.twig' %}

{% block title %}{{ ring.title }} - Rings{% endblock %}

{% block body %}
    <style>
        @media (max-width: 767.98px) {
            .ring-banner-img {
                width: 240px !important;
                height: 240px !important;
            }
        }
        @media (max-width: 400px) {
            .modal-dialog {
                min-width: 320px;
                margin: 0 auto;
            }
        }
    </style>
    <div class="main-panel">
        <div class="content-wrapper p-0">
            <div class="row justify-content-center mb-4">
                {# RING TOP CONTAINER #}
                <div class="row d-flex justify-content-center mb-2" style="background-color: #181b20; border-radius: 5px; margin-top: 2rem;">
                    <div class="col-md-1"></div>
                    <div class="col-12 col-md-9">
                        <div class="avatar-pic d-flex justify-content-center align-items-center">
                            <div class="avatar-indicator position-relative d-inline-block">
                                <img src="{{ asset('uploads/rings/' ~ ring.banner) }}"
                                     alt="Banner"
                                     class="img-thumbnail img-fluid rounded-circle mt-3 ring-banner-img"
                                     style="width: 400px; height: 400px;" />
                            </div>
                        </div>
                        <div class="d-flex flex-row mt-2 mb-3">
                            <div class="mt-2 me-2">
                                <img src="{{ asset('assets/images/media/rings-logo.png') }}" style="width: 50px; height: 50px;" />
                            </div>
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row">
                                    <h1 class="mb-0" style="margin-top: 4px">{{ ring.title }}</h1>
                                    {% if ring.isSuspended == 0 %}
                                        <div class="col-1 d-md-none d-flex ms-auto">
                                            <div class="dropdown top-0 end-0 m-2">
                                                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                                   class="text-white"
                                                   style="right: 10px; text-decoration: none; z-index: 10;">
                                                    <i class="fa fa-ellipsis-h" style="font-size: 25px;"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    {% if app.user == ring.user %}
                                                        <li><a class="dropdown-item" href="{{ path('app_ring_update',{'id': ring.id}) }}">Edit...</a></li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteRingModal-{{ ring.id }}"
                                                               data-note-id="{{ ring.id }}" data-note-token="{{ csrf_token('delete' ~ ring.id) }}">
                                                                Delete ring
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li><a class="dropdown-item" href="#">Report</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <a href="{{ path('app_interest_show', {'id': ring.interest.id}) }}"
                                       class="ms-2 align-self-start text-decoration-none d-md-flex d-none"
                                       style="line-height: 1; padding: 0;">
                                        <span class="bg-light px-2 py-1 text-dark rounded-pill d-md-inline-flex d-none"
                                              style="font-size: 19px; line-height: 1;margin-top: 13px">
                                            #{{ ring.interest.title }}
                                        </span>
                                    </a>
                                </div>
                                <div class="d-flex flex-row text-muted">
                                    <p style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#membersModal-{{ ring.id }}">
                                        {{ members|filter(member => member.ring.id == ring.id)|length }}
                                        {{ members|filter(member => member.ring.id == ring.id)|length == 1 ? 'member' : 'members' }}
                                    </p>
                                    {% set currentUserRole = 'owner' %}

                                    {% for m in members %}
                                        {% if m.user.id == app.user.id and m.ring.id == ring.id %}
                                            {% set currentUserRole = m.role %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if currentUserRole != 'owner' %}
                                        <p class="ms-1 me-1">•</p>
                                        <p>
                                            created by
                                            <a href="{{ path('app_profile', {'id': owner.user.id}) }}"
                                               class="text-muted fw-bold text-decoration-none">
                                                {{ owner.user.nametag }}
                                            </a>
                                        </p>
                                    {% endif %}
                                </div>
                                {# SHOW MEMBERS #}
                                <div class="modal fade" id="membersModal-{{ ring.id }}" tabindex="-1" aria-labelledby="membersModalLabel-{{ ring.id }}" aria-hidden="true">
                                    <div class="modal-dialog w-100" style="max-width: 700px;">
                                        <div class="modal-content bg-dark text-white">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="membersModalLabel-{{ ring.id }}">Members of {{ ring.title }}</h5>
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" style="max-height: 300px; overflow-y: auto;">
                                                {% set ringMembers = members|filter(member => member.ring.id == ring.id) %}
                                                {% set currentUserIsOwner = false %}
                                                {% for m in ringMembers %}
                                                    {% if m.user.id == app.user.id and m.role == 'owner' %}
                                                        {% set currentUserIsOwner = true %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if ringMembers|length > 0 %}
                                                    <ul class="list-group list-group-flush">
                                                        {% for member in ringMembers %}
                                                            <div class="d-flex flex-row m-0 p-0 mb-1 mt-2">
                                                                <a href="{{ path('app_profile', {id: member.user.id}) }}" class="ms-3">
                                                                    <img class="img-sm rounded-circle" src="{{ asset('uploads/avatars/' ~ member.user.avatar) }}" alt="avatar" onerror="showDefaultIcon(this)">
                                                                </a>
                                                                <a href="{{ path('app_profile', {id: member.user.id}) }}" class="text-white ms-3" style="text-decoration: none;">
                                                                    <span style="font-size: 20px">@{{ member.user.nametag }}</span>
                                                                </a>
                                                                <div class="d-flex justify-content-end align-items-center" style="width: 100%">
                                                                    {% if member.role == 'owner' %}
                                                                        <span class="me-2 text-warning" style="font-size: 18px">Owner</span>
                                                                    {% else %}
                                                                        <span class="me-2" style="font-size: 18px">Member</span>
                                                                    {% endif %}

                                                                    {% if currentUserIsOwner and member.user.id != app.user.id %}
                                                                        {% if ring.isSuspended == 0 %}
                                                                            {% if not member.user.isBanned %}
                                                                                <div class="col-1 d-flex">
                                                                                    <div class="dropdown top-0 end-0 m-2">
                                                                                        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                                                                           class="text-white"
                                                                                           style="right: 10px; text-decoration: none; z-index: 10;">
                                                                                            <i class="fa fa-ellipsis-h" style="font-size: 25px;"></i>
                                                                                        </a>
                                                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                                                            <li>
                                                                                                <a class="dropdown-item" href="{{ path('app_ring_remove_member', {'id': member.user.id, 'ringId': member.ring.id}) }}">
                                                                                                    Remove
                                                                                                </a>
                                                                                            </li>
                                                                                            <li>
                                                                                                <a class="dropdown-item" href="{{ path('app_ring_change_member_role', {'id': member.user.id, 'ringId': member.ring.id}) }}">
                                                                                                    Make owner
                                                                                                </a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <p>No members found for this ring.</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p id="desc-preview" class="m-0 text-white" style="
                                    font-size: 20px;
                                    line-height: 26px;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                ">
                                    {{ ring.description }}
                                </p>
                                <a id="view-more-link" href="#" data-bs-toggle="modal" data-bs-target="#viewMoreDescModal"
                                   style="color: white; font-size: 18px; display: none; width: fit-content;">
                                    <small>View more</small>
                                </a>

                                {# VIEW MORE MODAL #}
                                <div class="modal fade" id="viewMoreDescModal" tabindex="-1" aria-labelledby="viewMoreDescModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="max-width: 850px;">
                                        <div class="modal-content bg-dark text-white">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="viewMoreDescModalLabel">Description</h5>
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" style="max-height: 300px; overflow-y: auto;">
                                                <div class="d-flex flex-row m-0 p-0 mb-1 mt-2">
                                                    <p class="m-0 text-white" style="font-size: 20px;">
                                                        {{ ring.description }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {# MOBILE BUTTONS #}
                            <div class="d-flex d-md-none flex-row flex-wrap justify-content-start align-items-start gap-2 mt-2" style="max-width: 100%;">
                                {# INTEREST #}
                                <div style="order: -1;">
                                    <a href="{{ path('app_interest_show', {'id': ring.interest.id}) }}"
                                       class="align-self-start text-decoration-none"
                                       style="line-height: 1; padding: 0;">
                                       <span class="bg-light px-2 py-1 text-dark rounded-pill d-inline-block"
                                             style="font-size: 19px; line-height: 1; margin-top: 18px;">
                                          #{{ ring.interest.title }}
                                       </span>
                                    </a>
                                </div>

                                {# JOIN / LEAVE / + BUTTONS WRAPPED TOGETHER #}
                                <div class="d-flex flex-row flex-wrap align-items-start gap-2">
                                    {% set isMember = false %}
                                    {% set isOwner = false %}
                                    {% for member in members %}
                                        {% if member.user.id == app.user.id %}
                                            {% set isMember = true %}
                                            {% if member.role == 'owner' %}
                                                {% set isOwner = true %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if isMember and not isOwner %}
                                        <a href="{{ path('app_leave_ring', {'id': ring.id}) }}"
                                           class="text-decoration-none mt-3"
                                           style="line-height: 1; padding: 0; margin-top: 4px;">
                                            <span class="btn btn-danger px-2 py-1 text-dark d-inline-block"
                                                  style="font-size: 24px; line-height: 1; border-radius: 10px;">
                                                Leave
                                            </span>
                                        </a>
                                    {% elseif not isMember and not isOwner %}
                                        <a href="{{ path('app_join_ring', {'id': ring.id}) }}"
                                           class="text-decoration-none mt-3"
                                           style="line-height: 1; padding: 0; margin-top: 4px;">
                                            <span class="btn btn-success px-2 py-1 text-dark d-inline-block"
                                                  style="font-size: 24px; line-height: 1; border-radius: 10px;">
                                                Join
                                            </span>
                                        </a>
                                    {% endif %}

                                    {% if isMember %}
                                        {% if ring.isSuspended == 0 %}
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#newNoteModal"
                                               class="text-decoration-none mt-3"
                                               style="line-height: 1; padding: 0; margin-top: 4px;">
                                                <span class="btn btn-light px-2 py-1 text-dark d-inline-block"
                                                      style="font-size: 24px; line-height: 1; border-radius: 10px;">
                                                    +
                                                </span>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            </div>
                            {# DESKTOP BUTTONS #}
                            <div class="d-none d-md-flex flex-row ms-auto">
                                {# JOIN COMMUNITY #}
                                {% set isMember = false %}
                                {% set isOwner = false %}
                                {% for member in members %}
                                    {% if member.user.id == app.user.id %}
                                        {% set isMember = true %}
                                        {% if member.role == 'owner' %}
                                            {% set isOwner = true %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if isMember and not isOwner %}
                                    <a href="{{ path('app_leave_ring', {'id': ring.id}) }}"
                                       class="ms-auto align-self-start text-decoration-none mt-3"
                                       style="line-height: 1; padding: 0; margin-top: 4px;">
                                        <span class="btn btn-danger px-2 py-1 text-dark d-inline-block"
                                              style="font-size: 24px; line-height: 1;border-radius: 10px">
                                            Leave
                                        </span>
                                    </a>
                                {% elseif not isMember and not isOwner %}
                                    <a href="{{ path('app_join_ring', {'id': ring.id}) }}"
                                       class="ms-auto align-self-start text-decoration-none mt-3"
                                       style="line-height: 1; padding: 0; margin-top: 4px;">
                                        <span class="btn btn-success px-2 py-1 text-dark d-inline-block"
                                              style="font-size: 24px; line-height: 1;border-radius: 10px">
                                            Join
                                        </span>
                                    </a>
                                {% endif %}
                                {# ADD NOTE TO RING #}
                                {% if isMember %}
                                    {% if ring.isSuspended == 0 %}
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#newNoteModal"
                                           class="ms-auto align-self-start text-decoration-none mt-3 ps-1 pe-1"
                                           style="line-height: 1; padding: 0; margin-top: 4px;">
                                        <span class="btn btn-light px-2 py-1 text-dark d-inline-block"
                                              style="font-size: 24px; line-height: 1;border-radius: 10px">
                                            +
                                        </span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                    {{ message|raw }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                        <div class="col-1 d-md-flex d-none position-relative">
                            {% if ring.isSuspended == 0 %}
                            <div class="dropdown position-absolute top-0 end-0 m-2">
                                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                   class="position-absolute mt-5 text-white"
                                   style="right: 10px; text-decoration: none; z-index: 10;">
                                    <i class="fa fa-ellipsis-h" style="font-size: 25px;"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    {% if app.user == ring.user %}
                                        <li><a class="dropdown-item" href="{{ path('app_ring_update',{'id': ring.id}) }}">Edit...</a></li>
                                        <li>
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteRingModal-{{ ring.id }}"
                                               data-note-id="{{ ring.id }}" data-note-token="{{ csrf_token('delete' ~ ring.id) }}">
                                                Delete ring
                                            </a>
                                        </li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="#">Report</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                </div>
                {# RING NOTES #}
                <div class="row d-flex justify-content-center mb-4" style="background-color: #181b20; border-radius: 5px;">
                    {% if ring.isSuspended == 0 %}
                        <div class="col-12 p-3">
                        <div class="ms-md-5 ms-1 text-muted" style="font-size: 13px">
                            -- NOTES --
                        </div>
                        <div id="note-error-message" class="alert alert-danger mt-2 d-none"></div>
                        {# NOTES LIST #}
                        <div class="row justify-content-center mb-3">
                            <div id="loading-spinner" style="display:none; text-align:center;">
                                <div class="spinner-border text-light" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            {# NOTE #}
                            {% if ringNotes is defined and ringNotes|length > 0 %}
                                <div id="notes-container" class="d-flex flex-column align-items-center m-0 p-0">
                                    {% include 'ring/_ring_note.html.twig' with {
                                        ringNotes: ringNotes,
                                        votesMap: votesMap,
                                        favoritesMap: favoritesMap,
                                        rolesMap: rolesMap,
                                        limitedComments: limitedComments,
                                    } %}
                                </div>
                                <div id="loader-loading-spinner" class="mt-3" style="display:none; text-align:center;">
                                    <div class="spinner-border text-light" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <div id="load-more-zone" class="mt-5 glow-text" data-page="{{ page + 1 }}">
                                    Load more
                                </div>
                            {% else %}
                                <div class="col-lg-10 pt-4 ps-4 pe-4" style="background-color: #181b20; border-radius: 5px; margin-top: 2rem;">
                                    <p class="text-light">Oops. No notes available here.</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# NEW NOTE MODAL #}
    <div class="modal fade" id="newNoteModal" tabindex="-1" aria-labelledby="newNoteModalLabel" aria-hidden="true" style="overflow-y: hidden;">
        <div class="modal-dialog" style="max-width: 850px;">
            <div class="modal-content" style="background-color: #181b20; border-radius: 5px;">
                <div class="modal-body">
                    <form id="new-ring-note-form" class="forms-sample" method="POST" enctype="multipart/form-data">
                        <div class="form-group mb-0">
                            <textarea name="content" id="post-content" placeholder="Write a new note in {{ ring.title }}..." class="note-input form-control" style="border: 1px solid rgba(255,255,255,0.3); height: 85px;" required></textarea>
                        </div>
                        <div class="d-flex flex-row p-0 justify-content-end mb-2">
                            <div class="d-none d-sm-flex position-relative">
                                {# EMOJI BUTTON #}
                                <button type="button" class="btn btn-light btn-sm px-3 emoji-toggle-btn"
                                        style="height: 2.2rem; background-color: #2A3038; border: 1px solid rgba(255,255,255,0.3); border-radius: 0;">
                                    <i class='bx bx-happy-beaming' style='color:#ffffff; font-size: 24px'></i>
                                </button>
                            </div>
                            <div class="gif-container d-sm-inline-block position-relative">
                                {# GIF BUTTON #}
                                <button type="button" class="btn text-white btn-sm px-3 gif-toggle-btn"
                                        style="height: 2.2rem; font-size: 20px; background-color: #2A3038; border: 1px solid rgba(255,255,255,0.3); border-radius: 0; font-weight: bold">
                                    GIF
                                </button>
                            </div>
                        </div>

                        {# GIF PREVIEW #}
                        <div class="mb-3 gif-preview-container" style="display: none; margin-bottom: 10px; text-align: center; position: relative;">
                            <button class="gif-preview-clear" type="button"
                                    style="position: absolute; top: 0; right: 0; background: transparent; border: none; color: rgba(255,255,255,0.71); font-size: 24px; cursor: pointer;">
                                &times;
                            </button>
                            <img class="gif-preview" src="" alt="Selected GIF" style="max-width: 100%; max-height: 250px; border-radius: 5px;">
                        </div>
                        <input type="hidden" name="gif_url" class="gif-url-input">

                        <div class="form-group d-flex flex-row mb-3">
                            <a class="btn" style="height: 2.575rem; background-color: #2A3038; border-top-right-radius: 0; border-bottom-right-radius: 0;" tabindex="-1" role="button" aria-disabled="true">
                                <p style="font-size: 20px; color: #eaeaea;">@</p>
                            </a>
                            <input type="text" placeholder="Address to a member" name="nametag" id="nametag" class="form-control" style="border: 1px solid rgba(255,255,255,0.3); border-top-left-radius: 0; border-bottom-left-radius: 0;" required>
                        </div>

                        <div id="noteImageContainer" class="form-group mb-3">
                            <label for="noteImage" class="form-label text-light">Add image <i style="font-size: 12px">(optional)</i></label>
                            <input type="file" class="form-control" style="border: 1px solid rgba(255,255,255,0.3);" id="noteImage" name="image" accept="image/*">
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-danger me-2" data-bs-dismiss="modal" aria-label="Close">Close</button>
                            <button type="submit" class="btn btn-light" style="width: 120px; font-weight: bold">Post</button>
                        </div>

                        {# EMOJI LIST #}
                        <div class="emoji-list position-absolute p-2 rounded"
                             style="display:none; border: 1px solid rgba(255,255,255,0.3); background-color: #2A3038; top: 100%; right: 0; max-height: 200px; overflow-y: auto; z-index: 1000;">
                        </div>
                        {# GIF LIST #}
                        <div id="gifDropdown"
                             style="position: absolute; top: 100%; left: 0; width: 850px;
                                            max-height: 250px; overflow-y: auto;
                                            border: 1px solid rgba(255,255,255,0.3); background-color: #181b20;
                                            display: none; padding: 5px; z-index: 100;">
                            <input type="text" class="gif-search" placeholder="Search GIFs..."
                                   style="width: 100%; margin-bottom: 5px; background-color: #2A3038">
                            <div class="gif-results" style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 5px;"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {# DELETE RING MODAL #}
    <div class="modal fade" id="deleteRingModal-{{ ring.id }}" tabindex="-1" aria-labelledby="deleteRingModalLabel-{{ ring.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content border-danger">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="deleteRingModalLabel-{{ ring.id }}">Confirm ring deletion</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this ring?
                </div>
                <div class="modal-footer">
                    <form method="post" action="{{ path('app_ring_delete', { id: ring.id }) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ring.id) }}">
                        <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    window.votesMap = {{ votesMap|json_encode|raw }};
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".toggle-comments");

    buttons.forEach(button => {
        button.addEventListener("click", function () {
            const noteId = this.getAttribute("data-note-id");
            const commentSection = document.getElementById("comments-" + noteId);

            if (commentSection) {
                if (commentSection.style.display === "none" || commentSection.style.display === "") {
                    commentSection.style.display = "block";
                } else {
                    commentSection.style.display = "none";
                }
            } else {
                console.error("Nu s-a găsit elementul pentru comentarii cu id: comments-" + noteId);
            }
        });
    });
});
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    $('#new-ring-note-form').on('submit', function (e) {
        e.preventDefault();
        let form = $('#new-ring-note-form')[0];
        let formData = new FormData(form);

        $('#loading-spinner').show();
        const startTime = Date.now();

        $.ajax({
            url: "{{ path('app_note_new', {'ringId': ring.id}) }}",
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                const modalEl = document.getElementById('newNoteModal');
                modalEl.classList.remove('show');
                modalEl.style.display = 'none';
                document.body.classList.remove('modal-open');
                $('.modal-backdrop').remove();

                form.reset();

                setTimeout(function () {
                    $('#loading-spinner').hide();
                    location.reload();
                }, 1500);
            },
            error: function (xhr) {
                $('#loading-spinner').hide();
                const errorBox = $('#note-error-message');
                const response = xhr.responseJSON;

                if (response && response.message) {
                    errorBox.text(response.message).removeClass('d-none');
                } else {
                    errorBox.text('Unexpected error occurred.').removeClass('d-none');
                }
            }
        });
    });
});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const paragraph = document.getElementById('desc-preview');
        const viewMoreLink = document.getElementById('view-more-link');

        const maxVisibleHeight = 3 * 26;

        if (paragraph.scrollHeight > maxVisibleHeight) {
            viewMoreLink.style.display = 'inline-block';
        }
    });
</script>
<script>
    window.commentVotesMap = {{ commentVotesMap|json_encode|raw }};
    window.currentUserNametag = "{{ app.user ? app.user.nametag : '' }}";
    window.csrfToken = "{{ csrf_token('comment_vote') }}";
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.see-all-comments').forEach(function(link) {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            const noteId = this.dataset.noteId;
            const commentsContainer = document.getElementById('comments-list-' + noteId);
            const url = '/note/' + noteId + '/comments';

            fetch(url)
                .then(res => res.json())
                .then(data => {
                    const commentsArray = Array.isArray(data) ? data : (data.comments || []);
                    const existingIds = Array.from(commentsContainer.querySelectorAll('[data-comment-id]'))
                        .map(el => el.dataset.commentId);

                    commentsArray.forEach(comment => {
                        if (!comment || !comment.user || !comment.id) return;
                        if (!existingIds.includes(String(comment.id))) {

                            const isUpvoted = window.commentVotesMap && window.commentVotesMap[comment.id] === 'upvote';

                            const messageHtml = comment.message
                                ? `<small class="d-inline-block"
                                          style="font-size: 16px; align-self: flex-start; max-width: 300px; color: #404040;
                                                 background-color: #ffffff; border-radius: 8px; opacity: 0.9; padding: 5px;">
                                        ${comment.message}
                                   </small>`
                                : '';

                            const gifHtml = comment.image
                                ? `<div class="comment-gif-container mb-1" style="width: 100%; max-width: 200px;">
                                        <img src="${comment.image.startsWith('http') ? comment.image : '/uploads/notes/' + comment.image}"
                                             alt="GIF"
                                             style="width: 100%; height: auto; object-fit: contain; border-radius: 8px; display: block;">
                                   </div>`
                                : '';

                            const html = `
                                <div class="d-flex flex-row mb-3" data-note-id="${noteId}" data-comment-id="${comment.id}">
                                    <a class="nav-link me-2" href="/profile/${comment.user.id}/view">
                                        <img class="img-xs rounded-circle"
                                             src="/uploads/avatars/${comment.user.avatar}"
                                             alt="avatarComment"
                                             onerror="showDefaultIcon(this)">
                                    </a>
                                    <div class="ms-2 p-0">
                                        <div class="d-flex flex-row" style="height: 30px;">
                                            <a class="m-0 p-0 text-decoration-none text-white" href="/profile/${comment.user.id}/view">
                                                <p class="text-white me-2" style="font-size: 18px;">@${comment.user.nametag}</p>
                                            </a>
                                            ${comment.isEdited
                                                ? `<i class="fa fa-clock-o text-gray me-1" style="margin-top: 6px"></i>`
                                                : `<p class="text-gray mt-1 me-2">•</p>`
                                            }
                                            <p class="text-gray mt-1">${comment.humanTime}</p>
                                        </div>
                                        <div class="d-inline-flex align-items-center">
                                            <div class="d-flex flex-column">
                                                ${messageHtml}
                                                ${gifHtml}
                                            </div>
                                            <div class="d-flex flex-column ms-2">
                                                <button class="btn btn-sm ms-2 d-flex align-items-center border-0 comment-upvote-btn ${isUpvoted ? 'btn-light' : 'btn-outline-light'}"
                                                        type="button"
                                                        data-note-id="${noteId}"
                                                        data-comment-id="${comment.id}"
                                                        data-csrf="${window.csrfToken}">
                                                    <i class='bx bx-arrow-up' style="font-size: 20px;"></i>
                                                    <span id="comment-upvotes-${comment.id}" class="ms-1">${comment.upVote || 0}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown ms-auto me-1 d-inline-flex justify-content-end">
                                        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 30px;">
                                            <i class='bx bx-dots-horizontal-rounded' style='color:#ffffff'></i>
                                        </a>
                                        <ul class="dropdown-menu m-0">
                                            ${comment.user.nametag === window.currentUserNametag
                                                ? `<li><a class="dropdown-item" href="/post/comment/${noteId}-${comment.id}/update">Edit...</a></li>
                                                   <li><a class="dropdown-item delete-comment-btn" href="/post/comment/${noteId}-${comment.id}/delete">Delete comment</a></li>`
                                                : `<li><a class="dropdown-item" href="/note/comment/${noteId}-${comment.id}/report">Report</a></li>`
                                            }
                                        </ul>
                                    </div>
                                </div>
                            `;

                            commentsContainer.insertAdjacentHTML('beforeend', html);
                        }
                    });

                    this.style.display = 'none';
                })
                .catch(err => console.error('Error loading comments:', err));
        });
    });
});
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const loadMoreBtn = document.getElementById('load-more-zone');
    const notesContainer = document.getElementById('notes-container');
    const loader = document.getElementById('loader-loading-spinner');
    const ringId = "{{ ring.id }}";

    function updateLoadMoreVisibility() {
        const postCount = notesContainer.querySelectorAll('.note-item').length;
        loadMoreBtn.style.display = (postCount >= 10) ? 'block' : 'none';
    }

    updateLoadMoreVisibility();

    loadMoreBtn.addEventListener('click', function () {
        const page = this.dataset.page;

        loader.style.display = 'block';
        loadMoreBtn.disabled = true;

        fetch(`/ring/${ringId}/view/?page=${page}`, {
            headers: { 'X-Requested-With': 'XMLHttpRequest' }
        })
        .then(response => {
            if (!response.ok) throw new Error(`Server error: ${response.status}`);
            return response.text();
        })
        .then(html => {
            if (!html.trim()) {
                loadMoreBtn.style.display = 'none';
                return;
            }

            notesContainer.insertAdjacentHTML('beforeend', html);
            loadMoreBtn.dataset.page = parseInt(page) + 1;
            updateLoadMoreVisibility();
        })
        .catch(error => {
            console.error('Error loading ring notes:', error);
        })
        .finally(() => {
            loader.style.display = 'none';
            loadMoreBtn.disabled = false;
        });
    });
});
</script>
<script src="{{ asset('../assets/js/pin.js') }}"></script>
<script src="{{ asset('../assets/js/feed.js') }}"></script>
<script src="{{ asset('../assets/js/comments.js') }}"></script>
<script src="{{ asset('../assets/js/comment-replies.js') }}"></script>
<script src="{{ asset('../assets/js/favorite.js') }}"></script>
<script src="{{ asset('../assets/js/emoji.js') }}"></script>
<script src="{{ asset('../assets/js/gif.js') }}"></script>
{% endblock %}