{% extends 'base.html.twig' %}

{% block title %}Ticket no. #{{ ticketNumber }} - Mentionable{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper p-0">
            <div class="row justify-content-center px-0 mb-4 mt-5">
                <div class="col-lg-8 p-2" style="background-color: #181b20; border-radius: 5px;">
                    {% for msg in app.flashes('success') %}
                        <div class="alert alert-success">{{ msg }}</div>
                    {% endfor %}
                    {% for msg in app.flashes('error') %}
                        <div class="alert alert-danger">{{ msg }}</div>
                    {% endfor %}
                    <div class="m-3 p-0">
                        <div class="d-flex flew-row">
                            <h2 class="me-2">Ticket no. #{{ ticketNumber }}</h2>
                            {% if ticket.status == 'In progress...' %}
                                <i class='bx bx-hourglass mt-2 text-muted' title="{{ ticket.status }}"></i>
                            {% endif %}
                            {% if ticket.status == 'Resolved' %}
                                <i class='fa fa-check-circle mt-2 text-muted' title="{{ ticket.status }}"></i>
                            {% endif %}
                        </div>
                        <p class="mb-3">This is preview only. Tickets cannot be edited after being sent to our staff.</p>

                        <h5>
                            Current status:
                            <span
                                {% if ticket.status == 'In progress...' %}
                                    class="text-warning"
                                {% endif %}
                                {% if ticket.status == 'Resolved' %}
                                    class="text-success"
                                {% endif %}
                            >{{ ticket.status }}</span>
                        </h5>
                        <h5>Type: {{ ticket.type|capitalize }}</h5>

                        <div class="pt-4 ps-4 pe-4 pb-3" style="background-color: #282b33; border-radius: 5px; margin-top: 2rem;">
                            <p>{{ ticket.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="{{ asset('../assets/js/feed.js') }}"></script>
{% endblock %}