{% extends 'base.html.twig' %}

{% block title %}My notifications - Mentionable{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper p-0">
            <div class="row justify-content-center mb-4 mt-2">
                <div class="col-lg-8 p-3 justify-content-center">
                    <div class="d-flex flex-row justify-content-center">
                        <h1 class="text-center d-none d-md-flex">
                            My notifications
                        </h1>
                        <h1 class="text-center d-flex d-md-none mt-1" style="font-size: 24px">
                            My notifications
                        </h1>
                        <span class="badge badge-light text-dark mt-2 ms-2" style="height: 25px">{{ notifCount }}</span>
                        {% if allNotifications|length > 0 %}
                            <a href="{{ path('app_user_clear_notifications', {'id': app.user.id}) }}" style="height: 25px" class="mb-0 pb-0 mt-2 ms-2">
                                <span class="badge badge-light text-dark" style="height: 25px">
                                    Clear all
                                </span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                {# NOTIFICATIONS LIST #}
                <div class="row justify-content-center mb-4">
                    {# NOTIFICATION #}
                    {% if allNotifications is defined and allNotifications is not empty %}
                    {% for notification in allNotifications %}
                        <div class="col-lg-7 pt-4 ps-4 pe-4 pb-3 d-flex flex-row" style="background-color: #181b20; border-radius: 5px; margin-top: 2rem;">
                            <div class="navbar-profile d-flex flex-column text-light mb-3">
                                <a class="nav-link me-3 mt-2" id="avatarNotif" href="{{ path('app_note_redirect', {'notificationId': notification.id}) }}">
                                    {% if notification.type == 'reported'  %}
                                        <i class='bx bx-mail-open' style='color: lightgrey; font-size: 34px'></i>
                                    {% elseif notification.type == 'closed_report' %}
                                        <i class='bx bx-mail-open' style='color: lightgrey; font-size: 34px'></i>
                                    {% elseif notification.type == 'ring_kick' %}
                                        <img class="img-sm rounded-circle" src="{{ asset('uploads/rings/' ~ notification.ring.banner) }}" alt="bannerNotif" onerror="showDefaultIcon(this)">
                                    {% elseif notification.type == 'ring_role_upgrade' %}
                                        <img class="img-sm rounded-circle" src="{{ asset('uploads/rings/' ~ notification.ring.banner) }}" alt="bannerNotif" onerror="showDefaultIcon(this)">
                                    {% else %}
                                        {% if notification.sender %}
                                            <img class="img-sm rounded-circle" src="{{ asset('uploads/avatars/' ~ notification.sender.avatar) }}" alt="avatarNotif" onerror="showDefaultIcon(this)">
                                        {% else %}
                                            <i class="fa fa-user text-white pt-2 ps-2"></i>
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </div>
                            {# NOTIFICATION CONTENT #}
                            <div class="d-flex flex-column text-gray mb-2 mt-2" style="width: 100%">
                                <div class="d-flex flex-column m-0 p-0" style="width: 100%">
                                    {% if notification.sender %}
                                        {% if notification.type == 'mentioned' %}
                                            <a href="{{ path('app_note_redirect', {'notificationId': notification.id}) }}" style="text-decoration: none !important; color: white !important;">
                                                <p class="preview-subject mb-1" style="font-size: 20px">{{ notification.sender.nametag }} mentioned you!</p>
                                                <p class="text-muted ellipsis mb-0">Tap to see what's the note about.</p>
                                            </a>
                                        {% elseif notification.type == 'commented' %}
                                            <a href="{{ path('app_note_redirect', {'notificationId': notification.id}) }}" style="text-decoration: none !important; color: white !important;">
                                                <p class="preview-subject mb-1" style="font-size: 20px">{{ notification.sender.nametag }} commented to your note!</p>
                                                <p class="text-muted ellipsis mb-0">Tap to see what's the comment about.</p>
                                            </a>
                                        {% elseif notification.type == 'downvoted' %}
                                            <a href="{{ path('app_note_redirect', {'notificationId': notification.id}) }}" style="text-decoration: none !important; color: white !important;">
                                                <p class="preview-subject mb-1" style="font-size: 20px">{{ notification.sender.nametag }} disagrees with you!</p>
                                                <p class="text-muted ellipsis mb-0">Tap to see what's the comment about.</p>
                                            </a>
                                        {% elseif notification.type == 'friend_request' %}
                                            <a href="{{ path('app_note_redirect', {'notificationId': notification.id}) }}" style="text-decoration: none !important; color: white !important;">
                                                <p class="preview-subject mb-1" style="font-size: 20px">{{ notification.sender.nametag }} send you a friend request!</p>
                                                <p class="text-muted ellipsis mb-0">Tap to see what's the friend request about.</p>
                                            </a>
                                        {% elseif notification.type == 'reported' %}
                                            <a href="{{ path('app_note_redirect', {'notificationId': notification.id}) }}" style="text-decoration: none !important; color: white !important;">
                                                <p class="preview-subject mb-1" style="font-size: 20px">Your annonymous report has been sent!</p>
                                                <p class="text-muted ellipsis mb-0">We will review in short time your request. Thank you!</p>
                                            </a>
                                        {% elseif notification.type == 'closed_report' %}
                                            <div class="text-white">
                                                <p class="preview-subject mb-1" style="font-size: 20px">Update regarding your anonymous report!</p>
                                                <p class="text-muted ellipsis mb-0">We took action against the content reported. Thank you for your contribution!</p>
                                            </div>
                                        {% elseif notification.type == 'ring_kick' %}
                                            <a href="#" style="text-decoration: none !important; color: white !important;">
                                                <p class="preview-subject mb-1" style="font-size: 20px">You've been removed from the ring {{ notification.ring.title }}</p>
                                            </a>
                                        {% elseif notification.type == 'ring_role_upgrade' %}
                                            <a href="{{ path('app_note_redirect', {'notificationId': notification.id}) }}" style="text-decoration: none !important; color: white !important;">
                                                <p class="preview-subject mb-1" style="font-size: 20px">You've been promoted to owner in {{ notification.ring.title }}</p>
                                            </a>
                                        {% elseif notification.type == 'admin_ticket_reply' %}
                                            <a href="{{ path('app_note_redirect', {'notificationId': notification.id}) }}" style="text-decoration: none !important; color: white !important;">
                                                <p class="preview-subject mb-1" style="font-size: 20px">The admin sent you a message on ticket no. {{ notification.ticketNumber }}</p>
                                                <p class="text-muted ellipsis mb-0">Tap to see what's the message about.</p>
                                            </a>
                                        {% else %}
                                            <p class="text-muted ellipsis mb-0">An error has occurred. Please try again later!</p>
                                        {% endif %}
                                    {% else %}
                                        <p class="text-muted ellipsis mb-0">An error has occurred. Please try again later!</p>
                                    {% endif %}
                                </div>
                                <div class="d-flex flex-row m-0 p-0">
                                    <i class="fa fa-clock-o mt-1 me-1" style="color: gray;"></i>
                                    <small class="text-gray">{{ notification.humanTimeNotification }}</small>
                                </div>
                            </div>
                        </div>
                    <div class="dropdown-divider"></div>
                    {% endfor %}
                    {% else %}
                        <div class="col-lg-7 pt-4 ps-4 pe-4" style="background-color: #181b20; border-radius: 5px; margin-top: 2rem;">
                            <p class="text-light">Oops. No notifications available here.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}