{% extends 'base.html.twig' %}

{% block title %}Admin - Mentionable{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="content-wrapper p-0">
        <div class="row mt-5">
            <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-11">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">{{ users|length }}</h3>
                                    <p class="text-success ms-2 mb-0 font-weight-medium">+3.5%</p>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="icon icon-box-success ">
                                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Number of users</h6>
                        <a href="{{ path('admin_show_users') }}">
                            <p>See all</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-11">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">{{ tickets|length }}</h3>
                                    <p class="text-success ms-2 mb-0 font-weight-medium">+3.5%</p>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="icon icon-box-success ">
                                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Number of tickets</h6>
                        <a href="{{ path('admin_show_tickets') }}">
                            <p>See all</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-11">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">{{ notes|length }}</h3>
                                    <p class="text-success ms-2 mb-0 font-weight-medium">+11%</p>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="icon icon-box-success">
                                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Number of notes</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-11">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">{{ rings|length }}</h3>
                                    <p class="text-success ms-2 mb-0 font-weight-medium">+3.5%</p>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="icon icon-box-success ">
                                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Number of rings</h6>
                        <a href="{{ path('admin_show_rings') }}">
                            <p>See all</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-11">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">{{ interests|length }}</h3>
                                    <p class="text-success ms-2 mb-0 font-weight-medium">+11%</p>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="icon icon-box-success">
                                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Number of interests</h6>
                        <a href="{{ path('admin_show_interests') }}">
                            <p>See all</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Transaction History</h4>
                        <div class="position-relative">
                            <div class="daoughnutchart-wrapper">
                                <canvas id="transaction-history" class="transaction-chart"></canvas>
                            </div>
                            <div class="custom-value">$1200 <span>Total</span>
                            </div>
                        </div>
                        <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                            <div class="text-md-center text-xl-left">
                                <h6 class="mb-1">Transfer to Paypal</h6>
                                <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                            </div>
                            <div class="align-self-center flex-grow text-end text-md-center text-xl-right py-md-2 py-xl-0">
                                <h6 class="font-weight-bold mb-0">$236000000000</h6>
                            </div>
                        </div>
                        <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                            <div class="text-md-center text-xl-left">
                                <h6 class="mb-1">Tranfer to Stripe</h6>
                                <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                            </div>
                            <div class="align-self-center flex-grow text-end text-md-center text-xl-right py-md-2 py-xl-0">
                                <h6 class="font-weight-bold mb-0">$593</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-start">
                            <h4 class="card-title mb-1">Reports</h4>
                            <span class="badge badge-light text-dark ms-2" style="height: 22px; padding: 0.4rem 0.8rem;">{{ reportsNumber }}</span>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="preview-list">
                                    {% for report in reports %}
                                        <div class="preview-item border-bottom">
                                            <div class="preview-thumbnail">
                                                <div class="preview-icon bg-primary">
                                                    <i class="mdi mdi-file-document"></i>
                                                </div>
                                            </div>
                                            <div class="preview-item-content d-sm-flex flex-grow">
                                                <div class="flex-grow">
                                                    {% if report.type == 'note' %}
                                                        <a href="{{ path('app_note_show', {'noteId': report.data.note.id}) }}" style="text-decoration: none">
                                                            <h5 class="text-white mb-0">Note Report</h5>
                                                        </a>
                                                        <p class="text-danger">Reason: {{ report.data.type|capitalize }}</p>
                                                        <p>Content preview: <span class="text-muted">{{ report.data.note.content|slice(0,80) }}...</span></p>
                                                        <p class="text-muted">{{ report.data.humanTimePostReport }}</p>

                                                    {% elseif report.type == 'comment' %}
                                                        <a href="{{ path('app_note_show', {'noteId': report.data.comment.note.id}) }}" style="text-decoration: none">
                                                            <h5 class="text-white mb-0">Comment Report</h5>
                                                        </a>
                                                        <p class="text-danger">Reason: {{ report.data.type|capitalize }}</p>
                                                        <p>Content preview: <span class="text-muted">{{ report.data.comment.message|slice(0,80) }}...</span></p>
                                                        <p class="text-muted">{{ report.data.humanTimeCommentReport }}</p>

                                                    {% elseif report.type == 'reply' %}
                                                        <a href="{{ path('app_note_show', {'noteId': report.data.reply.comment.note.id}) }}" style="text-decoration: none">
                                                            <h5 class="text-white mb-0">Reply Report</h5>
                                                        </a>
                                                        <p class="text-danger">Reason: {{ report.data.type|capitalize }}</p>
                                                        <p>Content preview: <span class="text-muted">{{ report.data.reply.message|slice(0,80) }}...</span></p>
                                                        <p class="text-muted">{{ report.data.reply.humanTimeReplyComment }}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="d-flex justify-content-center mt-3">
                                        <a href="{{ path('admin_show_reports') }}">
                                            <p>See all reports...</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}