<!-- partial:partials/_navbar.html -->
<nav class="navbar p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
        <a class="navbar-brand brand-logo-mini" href="{{ path('homepage') }}"><img src="{{ asset('../../../assets/images/logo-mini.png') }}" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" {#method="POST" enctype="multipart/form-data" action="{{ path('app_find_nametag') }}" #} >
                    <a href="#" class="btn btn-secondary disabled" style="height: 2.575rem; border-top-right-radius: 0; border-bottom-right-radius: 0;" tabindex="-1" role="button" aria-disabled="true">
                        <p style="font-size: 20px; color: #434343">@</p>
                    </a>
                    <input type="text" class="form-control" name="searchNametag" id="searchNametag" style="border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0;" placeholder="Search after a @nametag ...">
                </form>
            </li>
        </ul>
        {# NOTIFICATIONS LIST #}
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown border-left">
                {% set hasNotification = false %}
                {% if notifications is defined %}
                    {% for notification in notifications %}
                        {% if notification.receiver.nametag == app.user.nametag and not notification.isRead %}
                            {% set hasNotification = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                    <i class="fa fa-bell"></i>
                    {% if hasNotification %}
                        <span class="count bg-danger"></span>
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                    <div class="d-flex flex-row">
                        <h6 class="p-3 mb-0">Latest notifications</h6>
                        {# MARK AS READ #}
                        <a href="{{ path('mark_notifications_read') }}" class="ms-auto mt-3 me-3">
                            <i class='bx bx-message-circle-check' style='color:#ffffff; font-size: 18px'></i>
                        </a>
                    </div>
                    <div class="dropdown-divider"></div>
                    {# NOTIFICATION #}
                    {% if notifications is defined and notifications is not empty %}
                        {% for notification in notifications %}
                            <a class="dropdown-item preview-item" href="{{ path('app_note_redirect', {'notificationId': notification.id}) }}">
                                {% if notification.type != 'reported' %}
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            {% if notification.sender %}
                                                <img src="{{ asset('uploads/avatars/' ~ notification.sender.avatar) }}" alt="avatarNotif" onerror="showDefaultIcon(this)">
                                            {% else %}
                                                <i class="fa fa-user text-white pt-2 ps-2"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="preview-item-content">
                                    {% if notification.sender %}
                                        {% if notification.type == 'mentioned' %}
                                            <p class="preview-subject mb-1">{{ notification.sender.nametag }} mentioned you!</p>
                                            <p class="text-muted ellipsis mb-0">Tap to see what's the note about.</p>
                                        {% elseif notification.type == 'commented' %}
                                            <p class="preview-subject mb-1">{{ notification.sender.nametag }} commented on your note!</p>
                                            <p class="text-muted ellipsis mb-0">Tap to see what's the comment about.</p>
                                        {% elseif notification.type == 'upvoted' %}
                                            <p class="preview-subject mb-1">{{ notification.sender.nametag }} agrees with you!</p>
                                            <p class="text-muted ellipsis mb-0">Tap to see what's the comment about.</p>
                                        {% elseif notification.type == 'downvoted' %}
                                            <p class="preview-subject mb-1">{{ notification.sender.nametag }} disagrees with you!</p>
                                            <p class="text-muted ellipsis mb-0">Tap to see what's the comment about.</p>
                                        {% elseif notification.type == 'friend_request' %}
                                            <p class="preview-subject mb-1">{{ notification.sender.nametag }} send you a friend request!</p>
                                            <p class="text-muted ellipsis mb-0">Tap to see what's the friend request about.</p>
                                        {% elseif notification.type == 'reported' %}
                                            <p class="preview-subject mb-1">Your annonymous report has been sent!</p>
                                            <p class="text-muted ellipsis mb-0">We will review in short time your request. Thank you!</p>
                                        {% else %}
                                            <p class="text-muted ellipsis mb-0">An error has occurred. Please try again later!</p>
                                        {% endif %}
                                    {% else %}
                                        <p class="text-muted ellipsis mb-0">An error has occurred. Please try again later!</p>
                                    {% endif %}
                                    <i class="fa fa-clock-o" style="color: gray"></i>
                                    <small class="text-gray">{{ notification.humanTimeNotification }}</small>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                        {% if notifications|length == 3 %}
                            <a class="dropdown-item preview-item d-flex justify-content-center align-items-center" href="{{ path('app_notifications') }}">
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">See all the notifications...</p>
                                </div>
                            </a>
                        {% endif %}
                    {% else %}
                        <div class="d-flex flex-row">
                            <div class="preview-thumbnail pt-2 pe-2 ps-3">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="preview-item-content pt-2">
                                <p class="preview-subject" style="user-select: none">Nothing new.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                    <div class="navbar-profile">
                        <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                    <a class="dropdown-item preview-item" href="{{ path('app_logout') }}">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-logout text-danger"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <b class="preview-subject mb-1" style="text-decoration: none; color: white;">
                                Log out
                            </b>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
        </button>
    </div>
</nav>