<style>
    @media (max-width: 767px) {
        #searchForm {
            display: none !important;
        }
     .mobile-search-wrapper {
            display: none;
        }

        .mobile-search-wrapper.active {
            display: block !important;
        }
    }
    #clearDesktopInput:focus {
        outline: none !important;
        box-shadow: none !important;
    }
</style>
<!-- partial:partials/_navbar.html -->
<nav class="navbar p-0 fixed-top d-flex flex-row">
    <div class="navbar-menu-wrapper flex-grow-1 d-flex align-items-stretch" style="padding: 0 5px;">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="{{ path('homepage') }}" style="width: 50px;"><img src="{{ asset('../../../assets/images/logo-mini.png') }}" style="width: 40px; height: 35px; margin-top: -10px" alt="logo-mini" /></a>
        </div>
        <button class="navbar-toggler navbar-toggler align-self-center me-2" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
        </button>
{#        <ul class="navbar-nav w-100">#}
{#            <li class="nav-item w-100">#}
{#                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" #}{#method="POST" enctype="multipart/form-data" action="{{ path('app_find_nametag') }}" #}{# >#}
{#                    <a href="#" class="btn btn-secondary disabled" style="height: 2.575rem; border-top-right-radius: 0; border-bottom-right-radius: 0;" tabindex="-1" role="button" aria-disabled="true">#}
{#                        <p style="font-size: 20px; color: #434343">@</p>#}
{#                    </a>#}
{#                    <input type="text" class="form-control" name="searchNametag" id="searchNametag" style="border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0;" placeholder="Search after a @nametag ...">#}
{#                </form>#}
{#            </li>#}
{#        </ul>#}

        <ul class="navbar-nav w-100">
            <li class="nav-item w-100 d-flex align-items-center position-relative justify-content-start">
                <form id="searchForm"
                      class="input-group mt-2 mt-md-0 d-none d-md-flex"
                      style="width: 100%; max-width: 350px; flex-wrap: nowrap;"
                      method="POST"
                      action="{{ url('app_find_nametag') }}"
                      enctype="multipart/form-data">
                    <div class="input-group" style="flex-wrap: nowrap;">
        <span class="input-group-text bg-secondary btn btn-secondary disabled"
              style="font-size: 20px; color: #434343; height: 2.575rem;">@</span>
                        <input type="text"
                               class="form-control"
                               name="searchNametag"
                               id="searchNametag"
                               placeholder="  Search nametag ..."
                               autocomplete="off"
                               style="font-size: 0.85rem; padding: 0.2rem;">
                        <button type="button"
                                id="clearDesktopInput"
                                class="btn"
                                style="background-color: #2A3038; color: gray; height: 2.575rem;">
                            ✕
                        </button>
                    </div>
                    <div style="background-color: #191c24; margin-left: 42px; font-size: 16px" id="suggestions" class="p-2"></div>
                </form>
            </li>
        </ul>

        <ul class="navbar-nav navbar-nav-right">
            {# RINGS NOTIFICATIONS LIST #}
            <li class="nav-item dropdown border-left" style="padding-top: 5px">
{#                {% set hasNotification = false %}#}
{#                {% if latest_notifications is defined %}#}
{#                    {% for notification in latest_notifications %}#}
{#                        {% if notification.receiver.nametag == app.user.nametag and not notification.isRead %}#}
{#                            {% set hasNotification = true %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                {% endif %}#}

                <a class="nav-link count-indicator dropdown-toggle" id="ringsNotificationDropdown" href="#" data-bs-toggle="dropdown">
                    <i class='bx bx-circle-dashed' style='color:#ffffff; font-size: 20px'></i>
                   {# RINGS BADGE MARK AS READ #}
                </a>
                <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list" aria-labelledby="ringsNotificationDropdown">
                    {# RINGS BADGE NOTIFICATIONS #}
                </div>
            </li>

            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown border-left">
                    {# SEARCH BUTTON - MOBILE ONLY #}
                    <button type="button"
                            id="toggleSearch"
                            class="btn d-inline-flex d-md-none pb-3 mt-2"
                            style="font-size: 24px; background: none; border: none; color: white;">
                        @
                    </button>
                </li>
            </ul>

            {# MOBILE SEARCH FORM, HIDDEN BY DEFAULT #}
            <div id="mobileSearchWrapper"
                 class="mobile-search-wrapper d-md-none position-absolute start-0 px-2"
                 style="top: 70px; width: 100%; z-index: 9999; background-color: #191c24; padding-top: 10px; padding-bottom: 10px;">

                <div style="position: relative; max-width: 350px; margin: auto;">
                    <form id="mobileSearchForm"
                          class="input-group"
                          method="POST"
                          action="{{ url('app_find_nametag') }}"
                          enctype="multipart/form-data"
                          style="background-color: #1e1e1e; border-radius: 5px;">
            <span class="input-group-text bg-secondary btn btn-secondary disabled"
                  style="font-size: 20px; color: #434343; height: 2.575rem;">@</span>
                        <input type="text"
                               class="form-control"
                               name="searchNametag"
                               id="mobileSearchNametag"
                               placeholder="  Search nametag ..."
                               autocomplete="off"
                               style="border-left: none; font-size: 0.85rem; padding: 0.4rem;">
                        <button type="button"
                                id="closeSearch"
                                class="btn btn-outline-secondary"
                                style="background-color: #2A3038; color: gray;">
                            ✕
                        </button>
                    </form>

                    <div id="mobileSuggestions"
                         class="position-absolute"
                         style="top: 100%; left: 0; right: 0; background-color: #191c24; font-size: 16px; border-radius: 0 0 5px 5px; display: none; z-index: 1000;">
                    </div>
                </div>
            </div>
            {# NOTIFICATIONS #}
            <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                    <i class="fa fa-bell"></i>
                    <span class="count bg-danger" id="notifBell" style="display: none;"></span>
                </a>

                <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list" id="notificationList" aria-labelledby="notificationDropdown">
                    <div class="d-flex flex-row">
                        <h6 class="p-3 mb-0">Latest notifications</h6>
                        <a href="#" class="ms-auto mt-3 me-3" id="markAsRead">
                            <i class='bx bx-message-circle-check' style='color:#ffffff; font-size: 18px'></i>
                        </a>
                    </div>
                    <div class="dropdown-divider"></div>

                    <div class="d-flex flex-row">
                        <div class="preview-thumbnail pt-2 pe-2 ps-3">
                            <i class="fa fa-eye"></i>
                        </div>
                        <div class="preview-item-content pt-2">
                            <p class="preview-subject" style="user-select: none">Loading notifications...</p>
                        </div>
                    </div>
                </div>
            </li>

            {# MORE MENU #}
            <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                    <div class="navbar-profile d-flex align-items-center justify-content-between" style="min-width: 88px;">
                        <p class="mb-0 navbar-profile-name me-1">More</p>
                        <i class="mdi mdi-menu-down"></i>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                    <a class="dropdown-item preview-item" href="{{ path('app_logout') }}">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-logout text-danger"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <b class="preview-subject mb-1" style="text-decoration: none; color: white;">
                                Log out
                            </b>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
        </button>
    </div>
</nav>
{% set hasFriendRequest = false %}
{% for notification in latest_notifications %}
    {% if notification.type == 'friend_request' and notification.friendRequest is not null %}
        {% set hasFriendRequest = true %}
    {% endif %}
{% endfor %}
{% if hasFriendRequest %}
    <div class="modal fade" id="friendRequestModal" tabindex="-1" aria-labelledby="friendRequestModalLabel" aria-hidden="true" style="overflow-y: hidden;">
        <div class="modal-dialog">
            <div class="modal-content border-dark">
                <div class="modal-header bg-mute text-white">
                    <h5 class="modal-title" id="deleteAccountModalLabel">Friend Request</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for notification in latest_notifications %}
                        {% if notification.type == 'friend_request' and notification.friendRequest is not null %}
                            <div class="d-flex flex-row">
                                {% if notification.sender %}
                                    <img src="{{ asset('uploads/avatars/' ~ notification.sender.avatar) }}" style="width: 70px; height: 70px; border-radius: 5px" class="me-3" alt="avatarNotif" onerror="showDefaultIcon(this)">
                                {% else %}
                                    <i class="fa fa-user text-white pt-2 ps-2"></i>
                                {% endif %}
                            </div>
                            <p class="mt-1 text-white" style="font-size: 22px;">
                                {{ notification.sender.nametag }} has sent you a friend request!
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    {% for notification in latest_notifications %}
                        {% if notification.type == 'friend_request' and notification.friendRequest is not null %}
                            <a href="{{ path('app_profile_accept_friend', {'id': notification.friendRequest.id}) }}">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Accept</button>
                            </a>
                            <a href="{{ path('app_profile_reject_friend', {'id': notification.friendRequest.id}) }}">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Reject</button>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<script>
        document.addEventListener("DOMContentLoaded", function () {
        const toggleBtn = document.getElementById('toggleSearch');
        const searchForm = document.getElementById('searchForm');
        const closeSearch = document.getElementById('closeSearch');
        const searchInput = document.getElementById('searchNametag');

        toggleBtn.addEventListener('click', function () {
        searchForm.classList.remove('d-none');
        toggleBtn.classList.add('d-none');
        searchInput.focus();
        });

        closeSearch.addEventListener('click', function () {
        searchForm.classList.add('d-none');
        toggleBtn.classList.remove('d-none');
        });

        document.addEventListener('click', function (e) {
        if (!searchForm.contains(e.target) && !toggleBtn.contains(e.target) && window.innerWidth < 768) {
        searchForm.classList.add('d-none');
        toggleBtn.classList.remove('d-none');
        }
      });
     });
</script>
<script>
        document.addEventListener('DOMContentLoaded', function () {
        const toggleSearchBtn = document.getElementById('toggleSearch');
        const mobileSearchWrapper = document.getElementById('mobileSearchWrapper');
        const closeSearchBtn = document.getElementById('closeSearch');

        const clearDesktopInput = document.getElementById('clearDesktopInput'); // id nou
        const searchInputDesktop = document.getElementById('searchNametag'); // deja există

        if (toggleSearchBtn && mobileSearchWrapper && closeSearchBtn) {
        toggleSearchBtn.addEventListener('click', () => {
        mobileSearchWrapper.classList.add('active');
        toggleSearchBtn.style.setProperty('display', 'none', 'important');
    });

        closeSearchBtn.addEventListener('click', () => {
        mobileSearchWrapper.classList.remove('active');
        toggleSearchBtn.style.setProperty('display', 'inline-flex', 'important');
    });
    }

        if (clearDesktopInput && searchInputDesktop) {
        clearDesktopInput.addEventListener('click', () => {
        searchInputDesktop.value = '';
    });
    }})
</script>
<script>
        function fetchNotifications() {
        fetch('/notifications/fetch', { credentials: 'same-origin' })
            .then(response => response.json())
            .then(data => {
                const notificationList = document.getElementById("notificationList");
                const bell = document.getElementById("notifBell");

                if (!notificationList) return;

                notificationList.innerHTML = `
                <div class="d-flex flex-row">
                    <h6 class="p-3 mb-0">Latest notifications</h6>
                    <a href="#" id="markAsRead" class="ms-auto mt-3 me-3">
                        <i class='bx bx-message-circle-check' style='color:#ffffff; font-size: 18px'></i>
                    </a>
                </div>
                <div class="dropdown-divider"></div>
            `;

                let unreadCount = 0;

                if (data.length === 0) {
                    notificationList.innerHTML += `
                    <div class="d-flex flex-row">
                        <div class="preview-thumbnail pt-2 pe-2 ps-3">
                            <i class="fa fa-eye"></i>
                        </div>
                        <div class="preview-item-content pt-2">
                            <p class="preview-subject" style="user-select: none">Nothing new.</p>
                        </div>
                    </div>
                `;
                    bell.style.display = "none";
                } else {
                    data.forEach(notification => {
                        let title = '';
                        let subtitle = '';
                        let link = `/notification/${notification.id}/redirect`;
                        let extraAttributes = '';

                        switch (notification.type) {
                            case 'mentioned':
                                title = `${notification.sender} mentioned you!`;
                                subtitle = "Tap to see what's the note about.";
                                break;
                            case 'commented':
                                title = `${notification.sender} commented on your note!`;
                                subtitle = "Tap to see what's the comment about.";
                                break;
                            case 'upvoted':
                                title = `${notification.sender} agrees with you!`;
                                subtitle = "Tap to see what's the comment about.";
                                break;
                            case 'downvoted':
                                title = `${notification.sender} disagrees with you!`;
                                subtitle = "Tap to see what's the comment about.";
                                break;
                            case 'friend_request':
                                title = `${notification.sender} sent you a friend request!`;
                                subtitle = "Tap to see what's the friend request about.";
                                link = "#";
                                extraAttributes = 'data-bs-toggle="modal" data-bs-target="#friendRequestModal" href="#"';
                                break;
                            case 'reported':
                                title = `Your anonymous report has been sent!`;
                                subtitle = "We will review it shortly.";
                                break;
                            default:
                                title = `You have a new notification!`;
                                subtitle = `Please check your activity.`;
                        }

                        if (!extraAttributes) {
                            extraAttributes = `href="${link}"`;
                        }

                        if (!notification.isRead) unreadCount++;

                        notificationList.innerHTML += `
                        <a class="dropdown-item preview-item" ${extraAttributes}>
                            <div class="preview-thumbnail">
                                <img class="preview-icon bg-dark rounded-circle" src="/uploads/avatars/${notification.avatar ?? 'default.jpg'}" alt="avatarNotif" onerror="showDefaultIcon(this)">
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject mb-1">${title}</p>
                                <p class="text-muted ellipsis mb-0">${subtitle}</p>
                                <i class="fa fa-clock-o" style="color: gray"></i>
                                <small class="text-gray">${notification.humanTime}
                                    ${!notification.isRead ? `<i class="fa fa-dot-circle-o ms-1" style="color: white; font-size: 12px"></i>` : ''}
                                </small>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                    `;
                    });

                    if (data.length === 3) {
                        notificationList.innerHTML += `
                        <a class="dropdown-item preview-item d-flex justify-content-center align-items-center" href="/my-notifications/user/">
                            <div class="preview-item-content">
                                <p class="preview-subject mb-1">See all the notifications...</p>
                            </div>
                        </a>
                    `;
                    }

                    bell.style.display = unreadCount > 0 ? "inline-block" : "none";
                }

                // Activează click instant pe "mark as read"
                const markBtn = document.getElementById("markAsRead");
                if (markBtn) {
                    markBtn.addEventListener("click", function (e) {
                        e.preventDefault();
                        fetch('/mark-as-read', {
                            method: 'POST',
                            headers: { 'X-Requested-With': 'XMLHttpRequest' }
                        }).then(() => {
                            fetchNotifications(); // actualizare instantă
                        });
                    });
                }
            });
    }

        // Inițial și apoi la 10 secunde
        document.addEventListener("DOMContentLoaded", fetchNotifications);
        setInterval(fetchNotifications, 10000);
</script>
