<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="{{ path('homepage') }}"><img src="{{ asset('assets/images/logo.png')}}" style="height: 22px" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="{{ path('homepage') }}"><img src="{{ asset('assets/images/logo-mini.png')}}" style="height: 40px; width: 40px" alt="logo" /></a>
    </div>
    <ul class="nav">
        {% if app.user %}
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle " src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}" alt="avatar-sidebar" onerror="showDefaultIcon(this)">
                            {% if app.user.isVerified %}
                                <i class='count fa fa-check-circle'></i>
                            {% endif %}
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal">
                                @{{ app.user.nametag }}
                            </h5>
                            {% if app.user.isVerified %}
                                <span>Verified member</span>
                            {% else %}
                                <span>Unverified member</span>
                                <span><b>limited access</b></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Menu</span>
        </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="{{ path('homepage') }}">
              <span class="menu-icon">
                <i class="fa fa-user-circle"></i>
              </span>
                    <span class="menu-title">My profile</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>