<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="{{ path('homepage') }}"><img src="{{ asset('assets/images/logo.png')}}" style="height: 20px; width: 145px" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="{{ path('homepage') }}"><img src="{{ asset('assets/images/logo-mini.png')}}" style="height: 40px; width: 40px" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}" alt="avatar-sidebar" onerror="showDefaultIcon(this)">
                        {% if app.user.isVerified %}
                            <i class='count fa fa-check-circle'></i>
                        {% endif %}
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">
                            @{{ app.user.nametag }}
                        </h5>
                        {% if app.user.isVerified %}
                            <span>Verified member</span>
                        {% else %}
                            <span>Unverified member</span>
                            <span><b>limited access</b></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Menu</span>
        </li>
        <li class="nav-item menu-items {% if app.request.attributes.get('_route') == 'app_profile' %}active{% endif %}">
            <a class="nav-link" href="{{ path('app_profile', {'id': app.user.id}) }}">
                <span class="menu-icon">
                    <i class="fa fa-user-circle"></i>
                </span>
                <span class="menu-title">My profile</span>
            </a>
        </li>
        <li class="nav-item menu-items {% if app.request.attributes.get('_route') == 'app_user_notes' %}active{% endif %}">
            <a class="nav-link" href="{{ path('app_user_notes') }}">
                <span class="menu-icon">
                    <i class='bx bx-note'></i>
                </span>
                <span class="menu-title">My notes</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="{{ path('app_interests_list') }}">
                <span class="menu-icon">
                    <i class='bx bx-hashtag'></i>
                </span>
                <span class="menu-title">Interests</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-bs-toggle="collapse" href="#rings-collapse" aria-expanded="false" aria-controls="rings-collapse">
                 <span class="menu-icon">
                    <i class="bx bx-circle-dashed"></i>
                  </span>
                <span class="menu-title">Rings</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="rings-collapse">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_rings_discover') }}">Discover</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_my_rings') }}">My communities</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#donationsModal">
                <span class="menu-icon">
                    <i class='bx bx-donate-heart'></i>
                </span>
                <span class="menu-title">Donations</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="fa fa-cogs"></i>
          </span>
                <span class="menu-title">Account settings</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_change_password') }}">Change password</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{{ path('app_avatar_edit') }}">Edit avatar</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
                            Delete account
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="{{ path('app_support') }}">
                <span class="menu-icon">
                    <i class='bx bx-help-circle'></i>
                </span>
                <span class="menu-title">Support</span>
            </a>
        </li>
    </ul>
</nav>
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true" style="overflow-y: hidden;">
    <div class="modal-dialog">
        <div class="modal-content border-danger">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteAccountModalLabel">Confirm account deletion</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to permanently delete your account? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                <form method="post" action="{{ path('app_delete_account') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete_user') }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="donationsModal" tabindex="-1" aria-labelledby="donationsModalLabel" aria-hidden="true" style="overflow-y: hidden;">
    <div class="modal-dialog">
        <div class="modal-content border-warning">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="donationsModalLabel">Donations</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-0">
                Want to support our work? Every donation helps! You can contribute via PayPal.
            </div>
            <form action="https://www.paypal.com/donate" method="post" target="_top" class="d-flex ms-auto me-md-4">
                <!-- Identify your business so that you can collect the payments. -->
                <input type="hidden" name="business" value="donations@kcparkfriends.org">
                <!-- Specify details about the contribution -->
                <input type="hidden" name="no_recurring" value="0">
                <input type="hidden" name="item_name" value="Friends of the Park">
                <input type="hidden" name="item_number" value="Fall Cleanup Campaign">
                <input type="hidden" name="currency_code" value="EUR">
                <!-- Display the payment button. -->
                <input type="image" name="submit" src="https://lavendercottagecattery.co.uk/wp-content/uploads/2022/10/CITYPNG.COMDownload-PayPal-Yellow-Payment-Button-PNG-2100x770-2.png" style="width: 160px; height: 65px" alt="Donate">
                <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            </form>
        </div>
    </div>
</div>