{% extends 'base.html.twig' %}

{% block title %}Search results for "{{ nametag }}" - Mentionable{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper p-0">
            {# CENTERED CONTAINER #}
            <div class="row justify-content-center mb-4 pt-4">
                <div class="col-lg-8 p-2" style="background-color: #181b20; border-radius: 5px;">
                    <h2 class="m-3 mb-3">Search Results for "{{ nametag }}"</h2>
                    <div class="ms-3 p-0 mb-3" id="errorWhilePosting" style="display: {{ divVisibility }};">
                        <span class="badge bg-danger">{{ error }}</span>
                    </div>
                    <div class="d-flex flex-row m-0 p-0 mb-3">
                        {% if users is empty and divVisibility == 'none' %}
                            <p>No users found with nametag "{{ nametag }}".</p>
                        {% else %}
                            <ul>
                                {% for user in users %}
                                    {% if app.user.id is not same as(user.id) %}
                                        <div class="d-flex flex-row m-0 p-0 mb-3">
                                            <a href="{{ path('app_profile', {id: user.id}) }}" class="ms-3">
                                                <img class="img-sm rounded-circle" src="{{ asset('Uploads/avatars/' ~ user.avatar) }}" alt="avatar" onerror="showDefaultIcon(this)">
                                            </a>
                                            <a href="{{ path('app_profile', {id: user.id}) }}" class="text-white ms-3" style="text-decoration: none;">
                                                <span style="font-size: 20px">@{{ user.nametag }}</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="{{ asset('../assets/js/feed.js') }}"></script>
{% endblock %}