{% extends 'base.html.twig' %}

{% block title %}Home - Mentionable{% endblock %}

{% block body %}
<div class="main-panel">
        <div class="content-wrapper">
            <div class="row justify-content-center mb-4">
                <div class="row justify-content-center mb-4">
                    {# NOTE #}
                    {% if note is defined %}
                        <div class="col-lg-7 pt-4 ps-4 pe-4 pb-3" style="background-color: #181b20; border-radius: 5px; margin-top: 2rem;">
                            {# NOTE PROFILE #}
                            <div class="navbar-profile d-flex flex-row text-light mb-3" style="width: 100%;">
                                <a class="nav-link me-3 mt-2" id="avatarNote" href="{{ path('app_profile', {'id': note.user.id}) }}">
                                    <img class="img-sm rounded-circle" src="{{ asset('uploads/avatars/' ~ note.user.avatar) }}" alt="avatar" onerror="showDefaultIcon(this)">
                                </a>
                                <div class="d-flex flex-column">
                                    <a class="nav-link mt-3" id="nametagNote" href="{{ path('app_profile', {'id': note.user.id}) }}">
                                        <h5 class="mb-0 navbar-profile-name">@{{ note.user.nametag }}</h5>
                                    </a>
                                    <div class="d-flex flex-row m-0 p-0" style="font-size: 12px; color: gray">
                                        <div class="d-flex flex-row m-0 p-0">
                                            {% if note.isEdited %}
                                                <i class="fa fa-clock-o mt-1 me-1"></i>
                                            {% endif %}
                                            <p>{{ note.humanTimePost }}</p>
                                            <p class="ms-1 me-1">•</p>
                                            <a class="m-0 p-0" style="text-decoration: none; color: #d1d0d0" href="{{ path('app_note_show', {'noteId': note.id}) }}">
                                                <p>View</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown ms-auto mt-1 me-1">
                                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-sort-desc" style="color: white"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% if app.user.nametag == note.user.nametag %}
                                            <li>
                                                <a class="dropdown-item" href="{{ path('app_note_update', {id: note.id}) }}">Edit...</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#deleteNoteModal"
                                                   data-note-id="{{ note.id }}"
                                                   data-note-token="{{ csrf_token('delete' ~ note.id) }}">
                                                    Delete note
                                                </a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a class="dropdown-item" href="{{ path('app_note_report', {id: note.id}) }}">Report</a>
                                            </li>
                                        {% endif %}
                                    </ul>

                                    <div class="modal fade" id="deleteNoteModal" tabindex="-1" aria-labelledby="deleteNoteModalLabel" aria-hidden="true" style="overflow-y: hidden;">
                                        <div class="modal-dialog">
                                            <div class="modal-content border-warning">
                                                <div class="modal-header bg-warning text-white">
                                                    <h5 class="modal-title" id="deleteNoteModalLabel">Confirm note deletion</h5>
                                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete this note?
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="post" id="deleteNoteForm" action="">
                                                        <input type="hidden" name="_token" id="deleteTokenInput" value="">
                                                        <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-warning">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# NOTE CONTENT #}
                            <div class="d-flex flex-row text-gray mb-1">
                                <p style="font-size: 16px">{{ note.content }}</p>
                            </div>
                            {# NOTE IMAGE #}
                            {% if note.image %}
                                <div class="d-flex flex-row text-gray justify-content-center mb-2">
                                    <a href="{{ path('app_note_show', {'noteId': note.id}) }}">
                                        <img src="{{ asset('uploads/notes/' ~ note.image)}}" class="img-fluid" id="noteImage" alt="noteImage" onerror="showDefaultImage(this)"/>
                                    </a>
                                </div>
                            {% endif %}
                            {# NOTE NAV – DESKTOP & MOBILE HYBRID #}
                            <div class="d-flex flex-wrap align-items-center text-gray mt-2 mb-1 ms-0 ps-0">
                                {# VOTE & COMMENTS – ALWAYS SHOWN #}
                                <div class="d-flex flex-row flex-wrap">
                                    {# UPVOTE #}
                                    <button class="upvote-btn btn btn-sm btn-outline-light d-flex align-items-center border-0" data-id="{{ note.id }}">
                                        <i class='bx bx-arrow-up' style="font-size: 20px;"></i>
                                        <span class="ms-1" id="upvotes-{{ note.id }}">{{ note.getUpVote() }}</span>
                                    </button>

                                    {# DOWNVOTE #}
                                    <button class="downvote-btn btn btn-sm btn-outline-light d-flex align-items-center border-0" data-id="{{ note.id }}">
                                        <i class='bx bx-arrow-down' style="font-size: 20px;"></i>
                                        <span class="ms-1" id="downvotes-{{ note.id }}">{{ note.getDownVote() }}</span>
                                    </button>

                                    {# COMMENTS BUTTON #}
                                    <button type="button"
                                            class="btn btn-outline-light btn-sm d-flex flex-row align-items-center border-0 ps-2 pe-2 ms-1 toggle-comments compact-btn"
                                            data-note-id="{{ note.id }}">
                                        <i class='bx bx-message-circle-reply pe-1'></i>
                                        <span class="comment-count">{{ note.comments|length }}</span>
                                    </button>

                                    <div class="ms-2 me-2 pt-1 d-none d-md-block">
                                        <p class="text-white" style="margin-top: 7px">•</p>
                                    </div>

                                    {# NOTE MENTIONED – SHOWN ONLY ON DESKTOP #}
                                    <div class="d-none d-md-block ps-1 pe-1" style="margin-top: 10px">
                                        <p class="mb-0 mt-0 text-white" style="font-size: 16px">
                                            mentioned
                                            {% if note.mentionedUserId %}
                                                <a class="m-0 p-0 text-white" href="{{ path('app_profile', {'id': note.mentionedUserId}) }}" style="text-decoration: none;">
                                                    <b style="background-color: #2A3038">@{{ note.nametag }}</b>
                                                </a>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>

                                {# NOTE MENTIONED – SHOWN ONLY ON MOBILE, BELOW BUTTONS #}
                                <div class="d-block d-md-none w-100 mt-2 ps-3 pe-1 mb-2">
                                    <p class="text-white" style="margin-bottom: -2px; font-size: 16px">
                                        mentioned
                                        {% if note.mentionedUserId %}
                                            <a class="m-0 p-0 text-white" href="{{ path('app_profile', {'id': note.mentionedUserId}) }}" style="text-decoration: none;">
                                                <b style="background-color: #2A3038">@{{ note.nametag }}</b>
                                            </a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>

                            {# NOTE COMMENT #}
                            <div class="note-comments" id="comments-{{ note.id }}" style="display: none;">
                                {# WRITING COMMENT FORM #}
                                <form method="POST" action="{{ path('note_comment', {id: note.id}) }}" class="ajax-comment-form" data-note-id="{{ note.id }}">
                                    <div class="d-flex flex-row mb-3">
                                        <a class="nav-link me-2" href="#">
                                            <img class="img-xs rounded-circle" src="{{ asset('uploads/avatars/' ~ app.user.avatar)}}" alt="writeCommentAvatar" onerror="showDefaultIcon(this)">
                                        </a>
                                        <div class="d-flex flex-row w-100">
                                            <input type="text" name="message" class="form-control comment-input mb-1" placeholder="Write a comment..." required>
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="btn btn-light btn-sm px-3" style="height: 40px;">Post</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="new-comments"></div>

                                {# COMMENTS LIST #}
                                {% for comment in note.comments %}
                                    <div class="d-flex flex-row mb-3">
                                        <a class="nav-link me-2" href="#">
                                            <img class="img-xs rounded-circle" src="{{ asset('uploads/avatars/' ~ comment.user.avatar) }}" alt="avatarComment" onerror="showDefaultIcon(this)">
                                        </a>
                                        <div class="m-0 p-0">
                                            <div class="d-flex flex-row" style="height: 30px;">
                                                <p class="text-white me-2" style="font-size: 18px;">@{{ comment.user.nametag }}</p>
                                                {% if comment.isEdited %}
                                                    <i class="fa fa-clock-o text-gray me-1" style="margin-top: 6px"></i>
                                                {% else %}
                                                    <p class="text-gray mt-1 me-2">•</p>
                                                {% endif %}
                                                <p class="text-gray mt-1">{{ comment.humanTimeComment }}</p>
                                            </div>
                                            <div class="d-inline-flex">
                                                <small style="font-size: 16px; color: white; background-color: #757575; border-radius: 8px; opacity: 0.5; padding: 5px;">{{ comment.message }}</small>
                                                {# UPVOTE FORM #}
                                                <button
                                                        class="btn btn-sm btn-outline-light d-flex align-items-center border-0 comment-upvote-btn"
                                                        data-note-id="{{ note.id }}"
                                                        data-comment-id="{{ comment.id }}"
                                                        data-csrf="{{ csrf_token('vote') }}"
                                                        type="button">
                                                    <i class='bx bx-arrow-up' style="font-size: 20px;"></i>
                                                    <span id="comment-upvotes-{{ comment.id }}" class="ms-1">{{ comment.upVote ?? 0 }}</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="dropdown ms-auto me-1 d-inline-flex justify-content-end">
                                            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 30px;">
                                                <i class='bx bx-dots-horizontal-rounded' style='color:#ffffff'></i>
                                            </a>
                                            <ul class="dropdown-menu m-0">
                                                {% if app.user.nametag == comment.user.nametag %}
                                                    <li><a class="dropdown-item" href="{{ path('note_comment_update', {id: comment.id, noteId: note.id}) }}">Edit...</a></li>
                                                    <li><a class="dropdown-item delete-comment-btn" href="{{ path('note_comment_delete', {id: comment.id, noteId: note.id}) }}">Delete comment</a></li>
                                                {% else %}
                                                    <li><a class="dropdown-item" href="{{ path('note_comment_report', {id: comment.id, noteId: note.id}) }}">Report</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-7 pt-4 ps-4 pe-4" style="background-color: #181b20; border-radius: 5px; margin-top: 2rem;">
                            <p class="text-light">Oops. No notes available here.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".toggle-comments");

        buttons.forEach(button => {
            button.addEventListener("click", function () {
                const noteId = this.getAttribute("data-note-id");
                const commentSection = document.getElementById("comments-" + noteId);

                if (commentSection) {
                    if (commentSection.style.display === "none" || commentSection.style.display === "") {
                        commentSection.style.display = "block";
                    } else {
                        commentSection.style.display = "none";
                    }
                } else {
                    console.error("Nu s-a găsit elementul pentru comentarii cu id: comments-" + noteId);
                }
            });
        });
    });
</script>
<script src="{{ asset('../assets/js/feed.js') }}"></script>
{% endblock %}
