<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/mdi/css/materialdesignicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/ti-icons/css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/css/vendor.bundle.base.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/jvectormap/jquery-jvectormap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/flag-icon-css/css/flag-icons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/owl-carousel-2/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/owl-carousel-2/owl.theme.default.min.css') }}">
        <link rel='stylesheet' href="{{ asset('https://cdn.boxicons.com/fonts/basic/boxicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.png') }}" />

        <script src="{{ asset('assets/vendors/js/vendor.bundle.base.js') }}"></script>

        <script src="{{ asset('assets/vendors/chart.js/chart.umd.js') }}"></script>
        <script src="{{ asset('assets/vendors/progressbar.js/progressbar.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/jvectormap/jquery-jvectormap.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
        <script src="{{ asset('assets/vendors/owl-carousel-2/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.cookie.js') }}"></script>

        <script src="{{ asset('assets/js/off-canvas.js') }}"></script>
        <script src="{{ asset('assets/js/misc.js') }}"></script>
        <script src="{{ asset('assets/js/settings.js') }}"></script>
        <script src="{{ asset('assets/js/todolist.js') }}"></script>
        
        <script src="{{ asset('assets/js/proBanner.js') }}"></script>
        <script src="{{ asset('assets/js/dashboard.js') }}"></script>
    </head>
    <body>
            <div class="container-scroller">
                {{ include ('default/parts/sidebar.html.twig') }}
                <div class="container-fluid page-body-wrapper">
                    {{ include ('default/parts/header.html.twig') }}
                    <div class="main-panel">
                        <div class="content-wrapper">
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {% block javascript %}
                {% verbatim %}
                <script>
                    function showDefaultIcon(img) {
                        const wrapper = img.parentNode;
                        wrapper.innerHTML = '<i class="fa fa-user-circle" style="font-size: 32px; color: #ccc;"></i>';
                    }
                </script>
                {% endverbatim %}

                <script>
                    function showDefaultImage(img) {
                        const wrapper = img.parentNode;
                       wrapper.innerHTML = '<img src="{{ asset("uploads/notes/default-image.jpg") }}" class="img-fluid" alt="default-image"/>';
                    }
                </script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var deleteNoteModal = document.getElementById('deleteNoteModal');

                        if (deleteNoteModal) {
                            deleteNoteModal.addEventListener('show.bs.modal', function (event) {
                                var button = event.relatedTarget;
                                var noteId = button.getAttribute('data-note-id');
                                var token = button.getAttribute('data-note-token');

                                var form = deleteNoteModal.querySelector('#deleteNoteForm');
                                var tokenInput = deleteNoteModal.querySelector('#deleteTokenInput');

                                // Construim URL-ul către ruta de ștergere
                                form.action = '/note/' + noteId + '/delete';
                                tokenInput.value = token;
                            });
                        }
                    });
                </script>
            {% endblock %}
    </body>
</html>
